/node_modules
/public/hot
/public/storage
/storage/*.key
imgadmin2/images*
imgadmin2/images
imgadmin2/images/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode 
.htaccess
.zip

imgadmin2/.htaccess
imgadmin2/application/config/database.php
