.custom-file-upload {
  cursor: pointer;
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 220px;
  height: 220px;
}

.custom-file-upload label.file-uploaded:before {
  content: "\f00c";
  font-family: "IMG Global Infotech Icons" !important;
  font-weight: 900;
  width: 38px;
  height: 38px;
  background: #34c759;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: calc(50% + -22px);
  -webkit-box-shadow: 0 3px 6px 0 #0000001a, 0 1px 3px 0 #00000014;
          box-shadow: 0 3px 6px 0 #0000001a, 0 1px 3px 0 #00000014;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-file-upload input[type="file"] {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.custom-file-upload label {
  cursor: pointer;
  z-index: 1;
  width: 220px;
  overflow: hidden;
  height: 220px;
  background-color: #e1e1e133;
  background-size: 45px 58px;
  border: 1px solid #e1e1e1;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.custom-file-upload label span {
  display: block;
  font-size: 15px;
  color: #a1a1a2;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-weight: 500;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 16px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.custom-file-upload label span strong {
  display: block;
  font-weight: 500;
}

.custom-file-upload label span i.bi,
.custom-file-upload label span i[class*="img"],
.custom-file-upload label span i.icon {
  --ionicon-stroke-width: 32px;
  font-size: 48px;
  color: #a1a1a2;
}

.custom-file-upload label span i {
  font-style: normal;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-top: 9px;
}

.custom-file-upload label.file-uploaded span {
  bottom: 0;
  left: 0;
  top: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  font-size: 11px;
  color: #4f5050;
  background-color: #e1e1e1;
}

.was-validated .custom-file-upload .form-control:invalid ~ label,
.custom-file-upload .form-control.is-invalid ~ label {
  border-color: #ff0018;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff0018'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff0018' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) top calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.modalCustom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.btnBoxings:empty {
  display: none;
}

.modalCustom-open .modalCustom {
  overflow-x: hidden;
  overflow-y: auto;
}

.modalCustom-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modalCustom-dialog-scrollable {
  height: calc(100% - 1rem);
}

.modalCustom-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modalCustom-fullscreen {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modalCustom.fade .modalCustom-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

.modalCustom.show .modalCustom-dialog {
  -webkit-transform: none;
  transform: none;
}

.modalCustom.fade .modalCustom-dialog {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}

.modalCustom-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00000033;
  border-radius: 0.3rem;
  outline: 0;
}

.modalCustom-dialog-scrollable .modalCustom-content {
  max-height: 100%;
  overflow: hidden;
}

.modalCustom-fullscreen .modalCustom-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modalCustom-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color: #000;
}

.modalCustom-fullscreen .modalCustom-header {
  border-radius: 0;
}

.modalCustom-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modalCustom-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
  background-color: #1a1a1a;
}

.modalCustom-body .modal_85834 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.modalCustom-dialog-scrollable .modalCustom-body {
  overflow-y: auto;
}

.modalCustom-dialog-scrollable .modalCustom-body .cropper-container {
  width: 100%;
  background-image: none;
}

.modalCustom-dialog-scrollable .modalCustom-body .cropper-container .cropper-crop-box .cropper-view-box {
  outline: #fff solid 1px;
  outline-color: #fff;
}

.modalCustom-dialog-scrollable .modalCustom-body .cropper-container .cropper-crop-box .cropper-line,
.modalCustom-dialog-scrollable .modalCustom-body .cropper-container .cropper-crop-box .cropper-point {
  background-color: #fff;
}

.modalCustom-dialog-scrollable .modalCustom-body i[class*="img"] {
  letter-spacing: normal !important;
}

.modalCustom-fullscreen .modalCustom-body {
  overflow-y: auto;
}

.modalCustom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  background-color: #000;
}

.modalCustom-footer i[class*="img"] {
  letter-spacing: normal !important;
}

.modalCustom-fullscreen .modalCustom-footer {
  border-radius: 0;
}

.modalCustom.downloadConfirmBox {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.cropper-point {
  opacity: 1;
}

.cropper-point.point-n {
  top: 0px;
  width: 30px;
  height: 3px;
  left: 50%;
  margin-left: -15px;
  border-radius: 2px;
}

.cropper-point.point-w {
  top: 50%;
  height: 30px;
  width: 3px;
  left: 0;
  margin-top: -15px;
  border-radius: 2px;
}

.cropper-point.point-s {
  bottom: 0px;
  width: 30px;
  height: 3px;
  left: 50%;
  margin-left: -15px;
  border-radius: 2px;
}

.cropper-point.point-e {
  top: 50%;
  height: 30px;
  width: 3px;
  right: 0;
  margin-top: -15px;
  border-radius: 2px;
}

.cropper-point.point-nw {
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent !important;
}

.cropper-point.point-nw:before {
  content: "";
  left: 5px;
  top: 5px;
  width: 20px;
  height: 3px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-nw:after {
  content: "";
  left: 5px;
  top: 5px;
  width: 3px;
  height: 20px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-ne {
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent !important;
}

.cropper-point.point-ne:before {
  content: "";
  width: 20px;
  height: 3px;
  right: 5px;
  top: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-ne:after {
  content: "";
  width: 3px;
  height: 20px;
  right: 5px;
  top: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-sw {
  bottom: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  background-color: transparent !important;
}

.cropper-point.point-sw:before {
  content: "";
  width: 20px;
  height: 3px;
  bottom: 5px;
  left: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-sw:after {
  content: "";
  width: 3px;
  height: 20px;
  bottom: 5px;
  left: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-point.point-se {
  bottom: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: transparent !important;
}

.cropper-point.point-se:before {
  content: "";
  width: 20px;
  height: 3px;
  bottom: 5px;
  right: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
  opacity: 1;
}

.cropper-point.point-se:after {
  content: "";
  width: 3px;
  height: 20px;
  bottom: 5px;
  right: 5px;
  background: white;
  position: absolute;
  border-radius: 2px;
}

.cropper-dashed {
  border: 0 solid #eee;
}

.cropper-center {
  display: none;
}

.cropper-crop-box .cropper-point,
.cropper-crop-box .cropper-point:before,
.cropper-crop-box .cropper-point:after {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.crop-box-responsive-w .cropper-point.point-n {
  width: 4px;
  margin-left: -2px;
}

.crop-box-responsive-w .cropper-point.point-s {
  width: 4px;
  margin-left: -2px;
}

.crop-box-responsive-w .cropper-point.point-nw:before {
  width: 4px;
}

.crop-box-responsive-w .cropper-point.point-ne:before {
  width: 4px;
}

.crop-box-responsive-w .cropper-point.point-sw:before {
  width: 4px;
}

.crop-box-responsive-w .cropper-point.point-se:before {
  width: 4px;
}

.crop-box-responsive-h .cropper-point.point-w {
  height: 4px;
  margin-top: -2px;
}

.crop-box-responsive-h .cropper-point.point-e {
  height: 4px;
  margin-top: -2px;
}

.crop-box-responsive-h .cropper-point.point-nw:after {
  height: 4px;
}

.crop-box-responsive-h .cropper-point.point-ne:after {
  height: 4px;
}

.crop-box-responsive-h .cropper-point.point-sw:after {
  height: 4px;
}

.crop-box-responsive-h .cropper-point.point-se:after {
  height: 4px;
}

.crop-loader {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
}

.crop-loader.active {
  display: -ms-grid;
  display: grid;
}

.waitForCanvasDownload i {
  -webkit-animation: waitForCanvasDownload 3s linear 0s;
          animation: waitForCanvasDownload 3s linear 0s;
}

@-webkit-keyframes waitForCanvasDownload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes waitForCanvasDownload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 767.98px) {
  .modalCustom {
    position: fixed;
  }
}
/*# sourceMappingURL=imageUploadPreview.css.map */