@charset "UTF-8";

@import "variables";
body {
  transition: background 1s ease;
}
// Top Banner
.top_banner {
    background: var(--bg);
    background-size: cover;
    background-position: center 0%;
    & .heading {
      &::after {
        background: darken($theme1, 40);
      }
    }
    & .top_banner-left-part {
      & img {
        &:nth-child(1) {
          filter: drop-shadow(2px 4px 6px darken($theme1, 40));
        }
        &:nth-child(2) {
          filter: invert(1);
        }
      }
    }
  }
  
 .case-study{
    & .link-btn1{
      background: rgba(255,255,255,.2);
      border-radius: 100px;
    }
    & .divider {
      background-color: #fff;
      margin-top: 24px;
      margin-bottom: 48px;
      width: 48px;
      height: 1px;
    }
    & .case-view{
      padding: 10px 30px;
      border: 2px solid#fff;
      line-height: 26px;
      outline: 0;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      border-radius: 50px;
      transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      &:hover{
        border: 2px solid #fff;
        background: transparent !important;
        color: #fff !important;
        transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
      }
    }
 } 


