@charset "UTF-8";

@import "variables";
body {
  transition: background 1s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale3d(.3,.3,.3)
  }

  50% {
      opacity: 1
  }
}

.case_top_section{

    & .social_links{
        width: 73px;
        top: 51%;
        right: 0;
        transform: translateY(-66%) translateX(-2%) rotate(90deg);
      & ul{
        list-style: none;
      }
    }
}

.case_heading{
    position: relative;

    &::before{
        position: absolute;
        bottom: 0;
        width: 60px;
        height: 2px;
        content: "";
        left: 50%;
        margin-left: -30px;
        background-color: #777;
    }
}

.mobile_apps_section{

  & .app_content_list{

    & li{
      list-style: circle;
    }
  }
}

.case_color_section{

  & .case_box{
      min-height: 330px;
      border-radius: 50px 30px 30px 30px;
      box-shadow: 0px 12px 6px 0px rgba(203,203,203,0.2);
      border: 1px solid #eee;
      transition: all .24s ease-in-out;
      background: #8e4af9;

    & .case_icon{
        background: #ffffff;
        height: 100px;
        width: 100px;
        left: 0;
        top: 0;
        color: #8e4af9;
     }
   & .case_content{
       margin-top: 100px;
   }

   &:hover{
      background: #09465f !important;
      box-shadow: 0px 12px 6px 0px rgba(0, 213, 100, 0.2);

     & .case_head{
       color: #fff !important;
       animation: fadeInUp 400ms ease-in-out;
     }
     & .case-txt{
        color: #fff !important;
        animation: fadeInUp 400ms ease-in-out
     }
     & .case_icon{
      background: #fff;
      animation: zoomIn 800ms ease-in-out;
      & i{
        color: #09465f;
      }
     }
   }
  }
}

.bottom_case_banner{
  background-image: url(../../../../assets/img/casestudy/bobi-bg-img.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  & .bottom-bd{
     border: 1px solid #fff;
     width: 121px;

  }
}

.fab_case_testimonial {

  .fab_test_box{
      padding: 45px 130px 45px;
      background-color: #fafafa;
      max-width: 850px;
      margin: 16px auto;

      &::before{
          content: "";
          background-image: url(../../../../assets/img/casestudy/layer.png);
          position: absolute;
          left: -30px;
          top: -30px;
          width: 260px;
          height: 260px;
          z-index: -1;
      }

      &::after{
          content: "";
          background-image: url(../../../../assets/img/casestudy/layer.png);
          position: absolute;
          right: -30px;
          bottom: -30px;
          width: 260px;
          height: 260px;
          z-index: -1;
      }

      & .client-info{

          & .fab_test_img{

              & img{
                  display: inline-block!important;
                  border-radius: 50%;
                  border: 3px solid #0e420c
              }
          }
      }
  }
}



@mixin case_study_section-mixin-max-sm() {
     .case_top_section{

      & .social_links{
          transform: translateY(18%) translateX(48%) rotate(90deg);
        }
     }

     .fab_case_testimonial {

      .fab_test_box{
         padding: 22px 20px 22px;
         background-color: #f1f1f1;
         max-width: 850px;
         margin: 16px -11px;
  
         &::before{
          background-image: none;
        }
        &::after{
          background-image: none;
        }
      }
    }
}

@mixin case_study_section-mixin-max-md(){
  .fab_case_testimonial{
    
    & .fab_test_box::before {
        left: -39px;
        top: -23px;
      }
    }
}
@mixin case_study_section-mixin-max-lg(){

}
@mixin case_study_section-mixin-max-xl(){

}
@mixin case_study_section-mixin-min-xxl(){

}



// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include case_study_section-mixin-min-xxl();

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include case_study_section-mixin-max-xl();

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include case_study_section-mixin-max-lg();

}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include case_study_section-mixin-max-md();

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include case_study_section-mixin-max-sm();

}