.why-choose-third-party {
  position: relative;
}

.why-choose-third-party::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url(../../../img/competitor-analysis/bg1.webp);
  background-size: contain;
  transform: rotateY(180deg);
  background-repeat: no-repeat;
  filter: brightness(0.5);
}

.why-choose-third-party .eleven .heading1:after {
  background-color: #e09c19;
  color: #fff;
}

.third-party-left img {
  max-width: 70%;
}

.why-choose-ionic-section {
  background: var(--bg);
  background-size: cover;
}

.understanding-ionic-apps-section {
  background: #f5f6f8;
}

.understanding-ionic-apps-section::before {
  content: "";
  background: url(../../../img/competitor-analysis/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.understanding-ionic-apps-section::after {
  content: "";
  background: url(../../../img/competitor-analysis/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.understanding-ionic-apps-section .tilt_image_pos img:nth-child(1) {
  transform: translateZ(var(--tz)) rotate(-16deg);
  filter: drop-shadow(2px 4px 6px #212529);
}

.understanding-ionic-apps-section .tilt_image_pos img:nth-child(2) {
  filter: contrast(0);
  left: -18px;
  bottom: -27px;
  width: 350px;
}

.understanding-ionic-apps-section .tilt_image_pos img:nth-child(3) {
  width: 250px;
  left: -242px;
  top: 0px;
  transform: rotate(39deg);
}

.understanding-ionic-apps-section .justify {
  text-align: justify;
}

.devolopements-benefits {
  background-color: #03151d;
  background-size: cover;
}

.devolopements-benefits-box {
  background: rgba(19, 158, 217, 0.1);
  transition: 0.5s;
}

.devolopements-benefits-box:hover {
  background-color: rgba(52, 58, 64, 0.5);
}

.devolopements-benefits-box-count {
  position: absolute;
  left: -25px;
  height: 50px;
  background-color: #e09c19;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #fff;
  font-size: 24px;
  transition: 0.5s;
}

.devolopements-benefits-box:hover .devolopements-benefits-box-count {
  border-radius: 10px;
}

.Contact_us_project {
  background: #281c05;
}

.Contact_us_project .proposal_bg::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -89px;
  top: -64px;
  width: 252px;
  height: 242px;
  background: url(../../../img/competitor-analysis/bubble-o.webp);
  background-size: 140px;
  filter: brightness(0);
  opacity: 0.2;
  transform: rotate(45deg);
}

.Contact_us_project .proposal_bg::after {
  content: "";
  position: absolute;
  z-index: 0;
  background: url(../../../img/competitor-analysis/bg-pattern-cl.webp);
  background-size: cover;
  width: 150px;
  height: 189px;
  right: -43px;
  top: -40px;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}

@media (max-width: 1199.98px) {
  .why-choose-third-party .heading.center span {
    font-size: 28px;
  }
  .why-choose-third-party::before {
    background-size: 1300px;
  }
  .why-choose-ionic-section .heading.center span {
    font-size: 28px;
  }
  .understanding-ionic-apps-section .heading.left span {
    font-size: 28px;
  }
  .understanding-ionic-apps-section::after {
    background-size: 1300px;
  }
  .understanding-ionic-apps-section::before {
    background-size: 1300px;
  }
  .devolopements-benefits .heading.left span {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .why-choose-third-party .heading.center {
    font-size: 12px;
  }
  .why-choose-third-party .heading.center span {
    font-size: 24px;
  }
  .why-choose-third-party::before {
    background-size: 1200px;
  }
  .why-choose-third-party .star_design span {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    height: 40px;
    border-radius: 50px;
    width: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    top: -30px;
  }
  .why-choose-ionic-section .heading.center {
    font-size: 12px;
  }
  .why-choose-ionic-section .heading.center span {
    font-size: 24px;
  }
  .understanding-ionic-apps-section .heading.left {
    font-size: 12px;
  }
  .understanding-ionic-apps-section .heading.left span {
    font-size: 24px;
  }
  .understanding-ionic-apps-section::after {
    background-size: 1200px;
  }
  .understanding-ionic-apps-section::before {
    background-size: 1200px;
  }
  .devolopements-benefits .heading.left {
    font-size: 12px;
  }
  .devolopements-benefits .heading.left span {
    font-size: 24px;
  }
}
@media (max-width: 767.98px) {
  .why-choose-third-party .heading.center span {
    font-size: 20px;
  }
  .why-choose-third-party::before {
    background-size: 900px;
  }
  .why-choose-ionic-section .heading.center span {
    font-size: 20px;
  }
  .understanding-ionic-apps-section .heading.left span {
    font-size: 20px;
  }
  .understanding-ionic-apps-section::after {
    background-size: 900px;
  }
  .understanding-ionic-apps-section::before {
    background-size: 900px;
  }
  .devolopements-benefits .heading.left {
    text-align: center;
  }
  .devolopements-benefits .heading.left span {
    font-size: 20px;
  }
  .devolopements-benefits .heading.left::after {
    right: 0;
  }
  .devolopements-benefits .heading.left::before {
    right: 0;
  }
  .devolopements-benefits .devolopements-benefits-box-count {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -27px;
  }
}/*# sourceMappingURL=competitor-analysis.css.map */