.custom_software {
  background: #f5f6f8;
}

.custom_software::before {
  content: "";
  background: url(../../../img/custom-software-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.custom_software::after {
  content: "";
  background: url(../../../img/custom-software-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.custom_software .tilt_image_pos img:nth-child(1) {
  transform: translateZ(var(--tz)) rotate(-16deg);
  filter: drop-shadow(2px 4px 6px #212529);
}

.custom_software .tilt_image_pos img:nth-child(2) {
  filter: contrast(0);
}

.software-devolopement-list {
  background-color: #03151d;
}

.software-devolopement-list::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url(../../../img/custom-software-development/dots.webp);
  background-size: 300px;
}

.software-devolopement-list .animate_img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 25% 95%;
  left: -130px;
  animation: ani-rotate 50s linear infinite;
  top: -100px;
  filter: brightness(0.94);
  max-width: 300px;
}

.software-devolopement-list .animate_img2 {
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 25% 95%;
  right: -130px;
  animation: ani-rotate 50s linear infinite;
  bottom: -100px;
  filter: brightness(0.94);
  max-width: 300px;
}

.software-development_ico img {
  max-width: 35px;
}

@keyframes ani-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.software-devolopement-list-box {
  background: rgba(19, 158, 217, 0.1);
  padding: 15px;
  transition: background 0.2s ease;
  text-align: center;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 80px;
  border-radius: 5px;
  display: flex;
  color: #fff;
  align-items: center;
  transition: 0.5s all;
}

.software-devolopement-list-box:hover {
  background: rgba(0, 0, 0, 0.46);
  color: #fff;
  border: 2px solid rgba(52, 58, 64, 0.23);
}

.software-devolopement-list-box span {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background: rgba(224, 156, 25, 0.5);
  color: #fff;
  transition: background 0.2s ease;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.faq_section {
  background: #e9ecef;
}

.faq_section::before {
  content: "";
  background: url(../../../img/custom-software-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.faq_section::after {
  content: "";
  background: url(../../../img/custom-software-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.accordion-item {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 0;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #052635);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}
button.accordion-button::after {
  filter: brightness(20);
}

.accordion-button:not(.collapsed) {
  background-color: #ff6d00;
  color: #fff;
  box-shadow: unset;
  outline: unset;
}

@media (max-width: 1199.98px) {
  .software-devolopement-list .heading.center span {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .custom_software .heading.left {
    text-align: center !important;
  }
  .custom_software .heading.left::before {
    right: 0 !important;
  }
  .custom_software .heading.left::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .software-devolopement-list .heading.center {
    font-size: 12px;
  }
  .software-devolopement-list .heading.center span {
    font-size: 24px;
  }
}
@media (max-width: 767.98px) {
  .software-devolopement-list .heading.center span {
    font-size: 20px;
  }
}/*# sourceMappingURL=custom-software-development.css.map */