.transform_vision {
  background: #f5f6f8;
}

.transform_vision .tilt_image_pos img:nth-child(1) {
  transform: translateZ(var(--tz)) rotate(-16deg);
  filter: drop-shadow(2px 4px 6px #212529);
}

.transform_vision .tilt_image_pos img:nth-child(2) {
  filter: contrast(0);
  left: -18px;
  bottom: -27px;
  width: 350px;
}

.transform_vision .tilt_image_pos img:nth-child(3) {
  width: 250px;
  left: -242px;
  top: 0px;
  transform: rotate(39deg);
}

.transform_vision .justify {
  text-align: justify;
}

.advantage_payment_gateway {
  background: #f5f6f8;
}

.web-design-sales-drive {
  background: #fff;
}

.web-design-sales-drive .to-access-item {
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  margin: 0 auto 30px;
  transition: 0.5s all;
  position: relative;
  background: #03151d;
}

.web-design-sales-drive .to-access-item:hover {
  transform: translateY(-10px);
  background: #331600;
}

.web-design-sales-drive .to-access-item .to-access-thumb {
  margin: 0 auto 28px;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.web-design-sales-drive .to-access-item .to-access-thumb span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #c2c6f7;
  animation: rotate2 8s linear infinite;
  animation-play-state: paused;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
}

.web-design-sales-drive .to-access-item .to-access-thumb span::after {
  background-size: contain;
  border-radius: 50%;
  background: -webkit-linear-gradient(0deg, #139ed9 0, #139ed9 100%);
  width: 13px;
  height: 13px;
  left: auto;
  bottom: auto;
  right: 5px;
  top: 5px;
  position: absolute;
  content: "";
}

.web-design-sales-drive .to-access-item .to-access-thumb span::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-size: contain;
  border-radius: 50%;
  background: -webkit-linear-gradient(0deg, #139ed9 0, #139ed9 100%);
  left: 5px;
  bottom: 5px;
}

.web-design-sales-drive .to-access-item .to-access-thumb .thumb {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 2.419px 9.703px 12.48px 0.52px rgba(219, 218, 255, 0.5019607843);
  background: #fff;
  position: absolute;
  right: 0;
  left: 0px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #139ed9;
}

.web-design-sales-drive .to-access-item .to-access-thumb .thumb img {
  width: 100%;
  max-width: 40px;
}

.web-design-sales-drive .to-access-item.active .to-access-thumb span {
  animation-play-state: running;
}

.web-design-sales-drive .to-access-item:hover .to-access-thumb span {
  animation-play-state: running;
}

@keyframes rotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1440deg);
  }
}
.development_services {
  background: #fff;
}
.development_services::after {
  content: "";
  background: url(../../../img/digital-marketing-agency/bubble-o.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: left top;
  z-index: 0;
  filter: brightness(0.94);
  background-size: 60px;
}
.development_services .development_services_box {
  background: #fff;
  padding: 25px;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease;
  text-align: center;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 2;
  border-bottom: 3px solid #dee2e6;
}
.development_services .development_services_box .box_img {
  display: inline-flex;
  margin: 10px 0;
  border-radius: 50px;
  background-color: #fff;
  padding: 10px;
  height: 80px;
  width: 80px;
  transition: 0.5s all;
  align-items: center;
  justify-content: center;
}
.development_services .development_services_box .box_img img {
  max-width: 60px;
  transition: 0.5s all;
}
.development_services .development_services_box::after {
  content: "";
  position: absolute;
  top: 32px;
  width: 60px;
  height: 60px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
  transform: scale(5);
  transform-origin: bottom;
}
.development_services .development_services_box:hover .col-12 {
  color: #fff !important;
}
.development_services .development_services_box:hover::after {
  background-color: #e09c19;
  transform: scale(1);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0;
}

.why_choose_portal_right {
  padding: 50px 50px 50px;
  background: #03151d;
  position: relative;
  overflow: hidden;
}

.why_choose_portal_left {
  background-image: url(../../../img/digital-marketing-agency-in-jaipur/app-service-bg.webp);
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.client-testimonials {
  background-color: #03151d;
}

.client-testimonials::before {
  content: "";
  background: url(../../../img/digital-marketing-agency/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.client-testimonials .avatar {
  margin: auto;
  border-radius: 50%;
  max-width: 96px;
}

.slider_icon .avatar {
  height: 80px;
  width: 80px !important;
  border-radius: 30px 10px 30px;
}

.customers-testimonials .box {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 1);
  transition: 0.5s all;
}

.customers-testimonials .owl-item.active.center .box {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.customers-testimonials .level-item {
  background-color: rgba(59, 119, 144, 0.2705882353);
  border-radius: 4px;
  padding: 30px 30px;
}

.ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1199.98px) {
  .advantage_payment_gateway .heading.left span {
    font-size: 28px;
  }
  .advantage_payment_gateway::after {
    background-size: 1300px;
  }
  .advantage_payment_gateway::before {
    background-size: 1300px;
  }
  .web-design-sales-drive .heading.center span {
    font-size: 28px;
  }
  .why_choose_portal .heading.left span {
    font-size: 28px;
  }
}
@media (max-width: 991.98px) {
  .advantage_payment_gateway .heading.left {
    font-size: 12px;
  }
  .advantage_payment_gateway .heading.left span {
    font-size: 24px;
  }
  .advantage_payment_gateway::after {
    background-size: 1200px;
  }
  .advantage_payment_gateway::before {
    background-size: 1200px;
  }
  .web-design-sales-drive .heading.center {
    font-size: 12px;
  }
  .web-design-sales-drive .heading.center span {
    font-size: 24px;
  }
  .why_choose_portal .why_choose_portal_left {
    height: 300px;
    background-attachment: fixed;
  }
  .why_choose_portal .heading.left {
    font-size: 12px;
  }
  .why_choose_portal .heading.left span {
    font-size: 24px;
  }
}
@media (max-width: 767.98px) {
  .advantage_payment_gateway .heading.left span {
    font-size: 20px;
  }
  .advantage_payment_gateway::after {
    background-size: 900px;
  }
  .advantage_payment_gateway::before {
    background-size: 900px;
  }
  .web-design-sales-drive {
    background-size: auto;
  }
  .web-design-sales-drive .heading.center span {
    font-size: 20px;
  }
  .why_choose_portal .why_choose_portal_left {
    height: 300px;
  }
  .why_choose_portal .why_choose_portal_right {
    padding: 30px 45px 50px;
  }
  .why_choose_portal .heading.left span {
    font-size: 20px;
  }
}/*# sourceMappingURL=digital-marketing-agency-in-jaipur.css.map */