.top_banner {
  background: linear-gradient(90deg, #03151d 50%, rgba(3, 21, 29, 0.0096) 56%, rgba(3, 21, 29, 0.004) 76%), var(--bg);
  background-size: cover;
  background-position: 37% 0%;
}
.top_banner .heading::after {
  background: #03151d;
}
.top_banner .top_banner-left-part img:nth-child(1) {
  filter: drop-shadow(2px 4px 6px #03151d);
}
.top_banner .top_banner-left-part img:nth-child(2) {
  filter: invert(1);
}

.on-demand {
  background: var(--bg);
  background-size: cover;
}

.app_development_services {
  background-color: #03151d;
  background-size: cover;
  position: relative;
}
.app_development_services .devolopment_service_tab .s-sidebar .s-item {
  color: #fff;
  text-decoration: none;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  padding: 14px 14px;
}
.app_development_services .devolopment_service_tab .s-sidebar .s-item.wave-1::before {
  background-color: rgba(255, 255, 255, 0.1);
}
.app_development_services .devolopment_service_tab .s-sidebar .s-item:hover, .app_development_services .devolopment_service_tab .s-sidebar .s-item.active {
  border: 3px solid white;
}

.app_service_content::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(45deg, #fff, rgba(255, 255, 255, 0.8)), url(../../../img/services-section/wavy-lines.webp);
  transform: translateZ(-30px);
  background-size: cover;
}

.tab_icos i {
  background: linear-gradient(135deg, #139ed9 0, #ff6d00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  margin-bottom: 20px;
}

.delivery-app-features {
  background: #f8f9fa;
}
.delivery-app-features::before {
  content: "";
  background: url(../../../img/grocery-app-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}
.delivery-app-features::after {
  content: "";
  background: url(../../../img/ios-app-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}
.delivery-app-features .nav-tabs .nav-link {
  color: #343a40;
  transition: 0s all;
  border-bottom: 3px solid rgba(224, 156, 25, 0);
}
.delivery-app-features .nav-tabs .nav-link:hover, .delivery-app-features .nav-tabs .nav-link:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid rgba(224, 156, 25, 0);
}
.delivery-app-features .nav-tabs .nav-link.active {
  color: #e09c19;
  border: none;
  border-bottom: 3px solid #e09c19;
}
.delivery-app-features .nav-tabs .nav-item.show .nav-link {
  color: #e09c19;
  border: none;
  border-bottom: 3px solid #e09c19;
}
.delivery-app-features .development_services_box {
  background: #fff;
  padding: 75px 25px 25px 25px;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease;
  text-align: center;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 2;
  border-bottom: 3px solid #dee2e6;
}
.delivery-app-features .development_services_box .box_img {
  display: block;
  margin: 10px 0;
}
.delivery-app-features .development_services_box .box_img img {
  max-width: 80px;
}
.delivery-app-features .development_services_box::after {
  content: "";
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
  right: -20%;
  left: -20%;
  bottom: 0;
  margin: 0 auto;
  z-index: -1;
  transform-origin: bottom;
  background-color: #e09c19;
  height: 251px;
  top: -191px;
  border-radius: 0 0 50% 50%;
}
.delivery-app-features .develop-boxes {
  row-gap: 25px;
}

.accordion-item {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  border: 0;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #0b5a7b);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #ff6d00;
  color: #fff;
  box-shadow: unset;
  outline: unset;
}

.list_count {
  list-style-type: decimal-leading-zero;
}

.accordion-button::after {
  filter: brightness(20.5);
}

.development_proccess {
  position: relative;
  background-color: #03151d;
}
.development_proccess .development_process_box {
  background: #fff;
  text-align: left;
  padding: 30px;
  border-radius: 4px;
  border-right: 5px solid #139ed9;
  transition: 0.5s;
  position: relative;
  transform: scale(1);
  transition: 0.5s cubic-bezier(0.42, 0, 0, 1.49);
}
.development_proccess .development_process_box label {
  font-size: 108px;
  font-weight: 900;
  position: absolute;
  top: -29px;
  left: -33px;
  background: linear-gradient(-90deg, #03151d 50%, #fff 50%, white 70%, white 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  transition: 2s cubic-bezier(0.42, 0, 0, 1.49);
}
.development_proccess .development_process_box:hover {
  transform: scale(0.95);
}
.development_proccess .development_process_box:hover label {
  background: linear-gradient(-90deg, #03151d 50%, #fff 50%, white 70%, white 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.faq_section {
  background: #f8f9fa;
}

.faq_section::before {
  content: "";
  background: url(../../../img/grocery-app-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.faq_section::after {
  content: "";
  background: url(../../../img/ios-app-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.accordion-item {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  border: 0;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #0b5a7b);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #ff6d00;
  color: #fff;
  box-shadow: unset;
  outline: unset;
}

.list_count {
  list-style-type: decimal-leading-zero;
}

.accordion-button::after {
  filter: brightness(20.5);
}

@media (max-width: 991.98px) {
  .top_banner {
    background: linear-gradient(90deg, #03151d 50%, #03151d 100%), var(--bg);
  }
  .top_banner::before {
    background: none;
  }
  .top_banner .heading {
    text-align: center !important;
  }
  .top_banner .heading::before {
    right: 0 !important;
  }
  .top_banner .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
}/*# sourceMappingURL=grocery-app-development-old.css.map */