.why-hire-developers-img {
  background: #f7f7f7;
}

.leftside img {
  animation: howtowork2 3s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork2 {
  0% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-8px);
  }
}

.banner-cta1 {
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 10px;
}
.banner-cta1 .div:last-child {
  font-size: 39px !important;
}
.banner-cta1 .expert-btn {
  padding: 6px 22px !important;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 4px !important;
}
.banner-cta1 .expert-btn:hover {
  background-color: #e09c19 !important;
  color: #fff;
}

.banner-cta2 {
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 10px;
}
.banner-cta2 .expert-btn {
  padding: 6px 22px !important;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 4px !important;
}
.banner-cta2 .expert-btn:hover {
  background-color: #e09c19 !important;
  color: #fff;
}

.developers-process .shapes-circle {
  width: 600px;
  height: 600px;
  background: #ebf2ff;
  position: absolute;
  top: 50%;
  right: -100px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transform: translate(0, -50%);
}
.developers-process .count {
  color: #0b5a7b !important;
  counter-increment: count;
  content: counters(count, ".", decimal-leading-zero);
}
.developers-process .service-box {
  border: 2px dashed #0b5a7b;
  border-radius: 15px;
}
.developers-process .service-box:hover {
  border: 2px dashed #e09c19;
}
.developers-process .service-box:hover .service_ico img {
  transform: scale(-1) rotate(180deg);
  cursor: pointer;
}
.developers-process .service-box .service_ico img {
  transition: all 400ms ease-out 0s;
}
.developers-process .service-box .arrow-3 {
  left: 50%;
  bottom: -64px;
  height: 50px;
}

.hire-section {
  background: #0b5a7b;
}
.hire-section .leftimg {
  background-position: center;
  background: url(../../../img/hire-android-app-developers/hiring-benifits.jpg);
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.top-develpers-section {
  background: #eff3ff;
}
.top-develpers-section .accordion-item {
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.top-develpers-section .accordion-button:not(.collapsed)::after {
  background-image: none m !important;
  transform: rotate(180deg);
}

.box {
  border: 1px solid transparent;
  transition: 0.3s all ease-in;
}
.box:hover {
  border: 1px solid #0b5a7b;
  transition: 0.3s all ease-in;
}

.portfolioBox {
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 0;
  border: 0;
  margin: 0px 12px 12px -5px !important;
  cursor: pointer;
}
.portfolioBox:hover .portfolioBoxContent {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
.portfolioBox:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.portfolioBox :hover::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.portfolioBox .portfolioBoxContent {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 30px 20px;
  width: 100%;
  transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  overflow: hidden;
  -moz-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
}
.portfolioBox .portfolioBoxContent .h4 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.portfolioBox .portfolioBoxContent p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.portfolioBox img {
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.portfolioBox button .view_btn {
  font-weight: 700;
  font-size: 16px;
  color: #1d73f8;
  background: 0;
  border: 0;
  padding: 0;
  outline: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
}
.portfolioBox::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 21.88%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.industries {
  background-color: #f9f9f9;
}
.industries .industries_item {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  border: 2px dotted #549bb6;
  transition: 0.5s all;
}
.industries .industries_item:hover img {
  transform: scale(-1) rotate(180deg);
}
.industries .industries_item img {
  transition: all 400ms ease-out 0s;
}

.faq_section {
  background: #f8f9fa;
}

.faq_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.faq_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.accordion-item {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  border: 0;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #0b5a7b);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #ff6d00;
  color: #fff;
  box-shadow: unset;
  outline: unset;
}

.list_count {
  list-style-type: decimal-leading-zero;
}

.accordion-button::after {
  filter: brightness(20.5);
}

.hire-develpers-section {
  background-color: #eee;
}
.hire-develpers-section .box {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  transition: 0.3s;
}
.hire-develpers-section .box .text-ios {
  color: #555555;
}
.hire-develpers-section .box .text-android {
  color: #79c257;
}
.hire-develpers-section .box .text-nodejs {
  color: #3C873A;
}
.hire-develpers-section .box .text-laravel {
  color: #F05340;
}
.hire-develpers-section .box .text-react-native {
  color: #61DBFB;
}
.hire-develpers-section .box .text-flutter {
  color: #085b9f;
}
.hire-develpers-section .box .text-reactjs {
  color: #61DBFB;
}
.hire-develpers-section .box .text-java {
  color: #ea2e2f;
}
.hire-develpers-section .box .text-php {
  color: #6b7eb8;
}
.hire-develpers-section .box .text-web-designer {
  color: #860065;
}
.hire-develpers-section .box .text-python {
  color: #7AA8CE;
}
.hire-develpers-section .box .text-angular {
  color: #c40030;
}
.hire-develpers-section .box .text-full-stack {
  color: #F8C8BE;
}
.hire-develpers-section .box .text-mean-stack {
  color: #5dc07e;
}
.hire-develpers-section .box .text-mern-stack {
  color: #a1c68e;
}
.hire-develpers-section .box .text-web {
  color: #56B0EB;
}
.hire-develpers-section .box .text-mobile-app {
  color: #818DAA;
}
.hire-develpers-section .box .text-ui-ux {
  color: #e6c688;
}

.contact-with-us-section {
  background-color: #03151d;
}
.contact-with-us-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url(../../../img/ecommerce-website-development/dots.webp);
  background-size: 225px;
}
.contact-with-us-section::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
}
.contact-with-us-section .heading::after {
  background-color: #03151d;
}
.contact-with-us-section .form-floating .form-control {
  border-left: 4px solid #e09c19;
}
.contact-with-us-section .form-floating.is-valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .was-validated .form-control:invalid {
  border-left: 4px solid #dc3545;
}
.contact-with-us-section .was-validated .form-control:valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .sparater-block {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 30px;
  top: 0;
}
.contact-with-us-section .sparater-block span {
  font-weight: 300;
  height: 48px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 48px;
  background: #03151d;
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -32px;
}
.contact-with-us-section .sparater-block span {
  left: -24px;
  width: 48px;
  border-radius: 100%;
  text-align: center;
}
.contact-with-us-section .emailid-block a {
  width: 100%;
  float: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px solid rgba(52, 58, 64, 0.23);
  padding: 14px 10px 10px 90px;
  position: relative;
  min-height: 80px;
  transition: 0.5s all;
}
.contact-with-us-section .emailid-block a i {
  position: absolute;
  left: 22px;
  top: 23px;
  width: 28px;
  height: 39px;
  font-size: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2px 44px 0px 0;
}
.contact-with-us-section .emailid-block a span.small-text {
  font-size: 14px;
  color: #139ed9;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  display: flex;
}
.contact-with-us-section .emailid-block a span.large-text {
  font-size: 20px;
  color: #fff;
  line-height: 34px;
}
.contact-with-us-section .emailid-block.skype_block a {
  background-color: rgba(52, 58, 64, 0.5);
}
.contact-with-us-section .emailid-block a:hover::before {
  background: rgba(19, 158, 217, 0.1);
}
.contact-with-us-section .listing-block h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2px;
}
.contact-with-us-section .listing-block ul {
  width: 100%;
  float: left;
  margin-top: 19px;
}
.contact-with-us-section .listing-block ul li {
  list-style: none;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.4px;
  margin-bottom: 11px;
  padding-left: 42px;
  position: relative;
}
.contact-with-us-section .listing-block ul.bluts li {
  padding-left: 32px;
}
.contact-with-us-section .listing-block ul.bluts li:after {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e09c19;
  border-radius: 100%;
  top: 7px;
  content: "";
  left: 0;
}
.contact-with-us-section .g-recaptcha > * {
  width: auto !important;
  height: auto !important;
}
.contact-with-us-section .g-recaptcha > * iframe {
  width: 100% !important;
}

.form-select {
  height: 58px;
  border-left: 4px solid #e09c19;
}

.contactModal .modal-dialog .modal-content .modal-header {
  border: none !important;
  background: #03151d;
}
.contactModal .modal-dialog .modal-content .modal-header .modal-title {
  color: #fff;
}
.contactModal .modal-dialog .modal-content .modal-footer {
  border: none !important;
  background: #03151d;
}

.industries-sec .col {
  padding: 5px;
}
.industries-sec .col a {
  transition: 0.3s ease-in-out;
  display: block;
  position: relative;
  height: 220px;
  overflow: hidden;
}
.industries-sec .col a:hover:after {
  height: 100%;
  background: linear-gradient(0deg, #0e2dff 0, rgba(0, 0, 0, 0) 100%);
}
.industries-sec .col a:hover figcaption {
  height: 100%;
}
.industries-sec .col a:after {
  transition: 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, #000 0, rgba(255, 255, 255, 0) 100%);
  height: 130px;
  opacity: 0.7;
}
.industries-sec .col a figure {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
.industries-sec .col a figure img {
  transition: 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.industries-sec .col a figure img:hover {
  transform: scale(1.1);
}
.industries-sec .col a figcaption {
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .services-coman .heading {
    text-align: center !important;
  }
  .services-coman .heading::before {
    right: 0 !important;
  }
  .services-coman .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .why-hire-developers-img .heading {
    text-align: center !important;
  }
  .why-hire-developers-img .heading::before {
    right: 0 !important;
  }
  .why-hire-developers-img .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .developers-process .process2 {
    flex-direction: inherit;
  }
  .developers-process .arrow-1 {
    display: block;
  }
  .developers-process .arrow-3 {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .services-coman .heading {
    text-align: center !important;
  }
  .services-coman .heading::before {
    right: 0 !important;
  }
  .services-coman .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .industries-sec .col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .industries-sec .col:nth-child(5) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(6) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(11) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col a {
    height: 160px;
  }
  .industries-sec figcaption {
    font-size: 16px !important;
  }
  .developers-process .process2 {
    flex-direction: column-reverse;
  }
  .developers-process .arrow-1 {
    display: none;
  }
  .developers-process .arrow-3 {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .services-coman .heading {
    text-align: center !important;
  }
  .services-coman .heading::before {
    right: 0 !important;
  }
  .services-coman .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .why-hire-developers-img .heading {
    text-align: center !important;
  }
  .why-hire-developers-img .heading::before {
    right: 0 !important;
  }
  .why-hire-developers-img .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .banner-cta1 .expert-btn {
    padding: 8px 25px !important;
  }
  .developers-process .process2 {
    flex-direction: column-reverse;
  }
  .developers-process .arrow-1 {
    display: none;
  }
  .developers-process .arrow-3 {
    display: none;
  }
  .industries-sec .col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .industries-sec .col:nth-child(5) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(6) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(11) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col a {
    height: 160px;
  }
  .industries-sec figcaption {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=hire-python-developers.css.map */