
@charset "UTF-8";

@import "variables";
// Top Banner
.top_banner {
  background: linear-gradient(
      90deg,
      darken($theme1, 40) 50%,
      rgba(darken($theme1, 40), 0.96%) 56%,
      rgba(darken($theme1, 40), 0.4%) 76%
    ),
    var(--bg);
  background-size: cover;
  background-position: 37% 0%;
 

  & .heading {
    &::after {
      background: darken($theme1, 40);
    }
  }
  & .top_banner-left-part {
    & img {
      &:nth-child(1) {
        filter: drop-shadow(2px 4px 6px darken($theme1, 40));
      }
      &:nth-child(2) {
        filter: invert(1);
      }
    }
  }
 
}
// Small devices (landscape phones, 576px and up)
@mixin top_banner-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin top_banner-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin top_banner-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin top_banner-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin top_banner-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin top_banner-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin top_banner-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin top_banner-mixin-max-md() {
  .top_banner {
    background: linear-gradient(90deg, darken($theme1, 40) 50%, darken($theme1, 40) 100%), var(--bg);
    &::before {
      background: none;
    }
    & .heading {
      text-align: center !important;
      &::before {
        right: 0 !important;
      }
      &::after {
        right: 0 !important;
        animation: headings 3s infinite !important;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin top_banner-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin top_banner-mixin-max-xl() {
}

.development_services {
  background: #f4f4f4;
}


.development_services .development_services_box {
  background: #fff;
  padding: 25px;
  -webkit-transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  text-align: center;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 2;
  border-bottom: 3px solid #dee2e6;
}

.development_services .development_services_box::after {
  content: "";
  position: absolute;
  top: 32px;
  width: 60px;
  height: 60px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
  -webkit-transform: scale(5);
  transform: scale(5);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.development_services .development_services_box:hover .col-12 {
  color: #fff !important;
}

.development_services .development_services_box:hover::after {
  background-color: #e09c19;
  -webkit-transform: scale(1);
  transform: scale(1);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0;
}

// Devolopements Benefits
.devolopements-benefits {
  background-color: darken($theme1, 40);
  background-size: cover;
}
.devolopements-benefits::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: 300px;
}
.devolopements-benefits-box {
  background: rgba($theme1, 0.1);
  transition: 0.5s;
}
.devolopements-benefits-box:hover {
  background-color: rgba($gray-800, 0.5);
}
.devolopements-benefits-box-count {
  position: absolute;
  left: -25px;
  height: 50px;
  background-color: $theme3;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: $white;
  font-size: 24px;
  transition: 0.5s;
}
.devolopements-benefits-box:hover .devolopements-benefits-box-count {
  border-radius: 10px;
}



.boxdiv {
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  text-align: center;
  -webkit-box-shadow: inset 0 0 15px #00000033;
  box-shadow: inset 0 0 15px #00000033;
  min-height: 100px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e09c19;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.boxdiv:hover {
  background: #e09c19;
  color: #fff;
  -webkit-box-shadow: inset 0 0 20px #0000004d;
  box-shadow: inset 0 0 20px #0000004d;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.Contact_us_project {
  background: $white;
}

// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include top_banner-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include top_banner-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include top_banner-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include top_banner-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include top_banner-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include top_banner-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include top_banner-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include top_banner-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include top_banner-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include top_banner-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
