.border-left {
  border-left: 1px solid #e6e6e6;
}

.border-top {
  border-top: 1px solid #e6e6e6;
}

#box {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-bottom: 3px solid #0b5a7b;
  border-radius: 10px;
}
#box:hover::after {
  transform: translate(0, 0);
  transition: 0.2s transform ease-out;
}
#box:hover .col-12 {
  color: #fff !important;
  cursor: pointer;
}
#box::after {
  background-color: #0b5a7b;
  border-top-right-radius: 50%;
  content: "";
  display: block;
  height: 120%;
  width: 130%;
  position: absolute;
  left: 0;
  top: -15%;
  transform: translate(-100%, 75%) rotate(0deg);
  transform-origin: bottom left;
  transition: 0.3s transform ease-out;
  will-change: transform;
  z-index: -1;
}
#box::before {
  content: "";
  display: block;
  height: 140px;
  width: 205px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  background-size: cover;
  background: url(../../../img/mobile-app-development-company/retail-lines.webp);
}

.getbutton {
  letter-spacing: inherit !important;
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 12px 26px !important;
}

.Mobile_App_Development_Expertise .box .box-body {
  background-color: #fff;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16);
  transition: 0.3s all cubic-bezier(0.84, -0.62, 0.65, 0.75);
}
.Mobile_App_Development_Expertise .box .box-body > * {
  border-radius: 11px;
  background: #fff;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.16);
  position: relative;
  border: 1px solid #0b5a7b;
}
.Mobile_App_Development_Expertise .box:hover .box-body {
  transform: scale(0.97);
  border: 1px solid #ecf4ff;
}

.header-bg img {
  height: 45px !important;
}
.header-bg .top-Head a {
  letter-spacing: inherit !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 10px 26px !important;
}

.top-Head li a:hover i {
  color: #fff !important;
}

.faq_section {
  background: #f8f9fa;
}

.faq_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.faq_section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.accordion-item {
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.0509803922);
  border-radius: 10px;
  border: 0;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #0b5a7b);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}

.accordion-button:not(.collapsed) {
  background-color: #ff6d00;
  color: #fff;
  box-shadow: unset;
  outline: unset;
}

.list_count {
  list-style-type: decimal-leading-zero;
}

.accordion-button::after {
  filter: brightness(20.5);
}

.header-sec {
  background: linear-gradient(90deg, #0b5a7b, rgba(11, 90, 123, 0.8), rgba(7, 56, 76, 0.7)), url(../../../img/mobile-app-development-company-1/bg3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.shape1 {
  position: absolute;
  right: 0;
  width: 124px;
  height: 124px;
  animation: howtowork 3s ease-in-out infinite alternate-reverse both;
  top: 44px;
}
@keyframes howtowork {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}
.banner-cta1 {
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 10px;
}
.banner-cta1 .expert-btn {
  padding: 6px 22px !important;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 4px !important;
}
.banner-cta1 .expert-btn:hover {
  background-color: #e09c19 !important;
  color: #fff;
}

.features-sec {
  background-color: #ECF4FF;
  background-size: cover;
  background-position: center;
}
.features-sec .nav-tabs {
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.7rem !important;
  border-radius: 99px;
}
.features-sec .nav-tabs .nav-link.active {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 31px;
  color: #fff !important;
}
.features-sec .nav-tabs a:hover {
  color: #fff !important;
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 31px;
}
.features-sec .features-sec-item {
  border-left: 5px #0b5a7b;
  background: #fff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
  transition: all 0.3s linear;
  border-left-style: solid;
  border-radius: 10px 0px 0px 10px;
  padding: 5px 0;
}
.features-sec .features-sec-item:hover {
  transform: translateY(-10px);
  background-color: #0b5a7b;
  transition: all 0.3s linear;
}
.features-sec .features-sec-item:hover .head {
  color: #fff !important;
}

.want-to-join-section {
  background: #ecf4ff;
  border-radius: 10px;
}

.cta-btn .cta {
  padding: 9px 30px !important;
  cursor: pointer;
  transition: all ease 0.4s;
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  border-radius: 19px !important;
}
.cta-btn .cta:hover {
  background: transparent !important;
  color: #0b5a7b !important;
  border: 1px solid #0b5a7b;
}
.cta-btn .cta1 {
  padding: 9px 30px !important;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 19px !important;
  border: 1px solid #0b5a7b;
  color: #0b5a7b;
}
.cta-btn .cta1:hover {
  background: linear-gradient(45deg, #0b5a7b, #03151d) !important;
  color: #fff;
}

.stats-section .st-box {
  background: #fff;
  min-height: 130px;
  text-align: center;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 40px 60px -30px rgba(23, 66, 168, 0.2);
}

.stats-section .st-box:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-left: 2px solid #1668e2;
  border-top: 2px solid #1668e2;
  transition: all 0.8s ease;
}

.stats-section .st-box:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-left: 2px solid #1668e2;
  border-bottom: 2px solid #1668e2;
  transition: all 0.8s ease;
}

.stats-section .st-box:hover:before {
  width: 100%;
  height: 100%;
}

.stats-section .st-box:hover:after {
  width: 100%;
  height: 100%;
}

.stats-section .st-box span {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  width: 100%;
  transition: all 0.8s ease;
}

.stats-section .st-box span:before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border-right: 2px solid #1668e2;
  border-top: 2px solid #1668e2;
  transition: all 0.8s ease;
}

.stats-section .st-box span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  border-right: 2px solid #1668e2;
  border-bottom: 2px solid #1668e2;
  transition: all 0.8s ease;
}

.stats-section .st-box:hover span:before {
  width: 100%;
  height: 100%;
}

.stats-section .st-box:hover span:after {
  width: 100%;
  height: 100%;
}

.portfolioBox {
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 0;
  border: 0;
  margin: 0px 12px 12px -5px !important;
  cursor: pointer;
}
.portfolioBox:hover .portfolioBoxContent {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
}
.portfolioBox:hover img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.portfolioBox :hover::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.portfolioBox .portfolioBoxContent {
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 30px 20px;
  width: 100%;
  transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  overflow: hidden;
  -moz-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
}
.portfolioBox .portfolioBoxContent h4 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.portfolioBox .portfolioBoxContent p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.portfolioBox img {
  height: 100%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}
.portfolioBox button .view_btn {
  font-weight: 700;
  font-size: 16px;
  color: #1d73f8;
  background: 0;
  border: 0;
  padding: 0;
  outline: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: translate(0, 20px);
  -webkit-transform: translate(0, 20px);
  -ms-transform: translate(0, 20px);
}
.portfolioBox::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 21.88%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}

.contact-with-us-section .heading::after {
  background-color: #03151d;
}
.contact-with-us-section .form-floating .form-control {
  border-left: 4px solid #e09c19;
}
.contact-with-us-section .form-floating.is-valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .was-validated .form-control:invalid {
  border-left: 4px solid #dc3545;
}
.contact-with-us-section .form-select {
  height: 58px;
}
.contact-with-us-section .form-select:valid {
  border-left: 4px solid #e09c19;
}
.contact-with-us-section .was-validated.form-select.form-control .was-validated:valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .sparater-block {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 30px;
  top: 0;
}
.contact-with-us-section .sparater-block span {
  font-weight: 300;
  height: 48px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 48px;
  background: #03151d;
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -32px;
}
.contact-with-us-section .sparater-block span {
  left: -24px;
  width: 48px;
  border-radius: 100%;
  text-align: center;
}
.contact-with-us-section .emailid-block a {
  width: 100%;
  float: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px solid rgba(52, 58, 64, 0.23);
  padding: 14px 10px 10px 90px;
  position: relative;
  min-height: 80px;
  transition: 0.5s all;
}
.contact-with-us-section .emailid-block a i {
  position: absolute;
  left: 22px;
  top: 23px;
  width: 28px;
  height: 39px;
  font-size: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2px 44px 0px 0;
}
.contact-with-us-section .emailid-block a span.small-text {
  font-size: 14px;
  color: #139ed9;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  display: flex;
}
.contact-with-us-section .emailid-block a span.large-text {
  font-size: 20px;
  color: #fff;
  line-height: 34px;
}
.contact-with-us-section .emailid-block.skype_block a {
  background-color: rgba(52, 58, 64, 0.5);
}
.contact-with-us-section .emailid-block a:hover::before {
  background: rgba(19, 158, 217, 0.1);
}
.contact-with-us-section .listing-block h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2px;
}
.contact-with-us-section .listing-block ul {
  width: 100%;
  float: left;
  margin-top: 19px;
}
.contact-with-us-section .listing-block ul li {
  list-style: none;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.4px;
  margin-bottom: 11px;
  padding-left: 42px;
  position: relative;
}
.contact-with-us-section .listing-block ul.bluts li {
  padding-left: 32px;
}
.contact-with-us-section .listing-block ul.bluts li:after {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e09c19;
  border-radius: 100%;
  top: 7px;
  content: "";
  left: 0;
}

.heading2 {
  font-weight: 800;
  display: inline-grid;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0px 0px 13px 0px;
  text-align: center;
  color: #343a40;
}
.heading2 span {
  font-weight: 900;
  font-size: 32px;
  letter-spacing: normal;
  text-transform: capitalize;
  padding-top: 4px;
}
.heading2 span b {
  background: linear-gradient(135deg, #139ed9 0, #e09c19 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading2::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background: #e09c19;
  border-radius: 4px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.heading2::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 4px solid #e09c19;
  border-radius: 50%;
  left: 0;
  bottom: -6px;
  right: 0;
  margin: auto;
}
.heading2.left {
  text-align: left;
}
.heading2.left::before {
  right: auto;
}
.heading2.left::after {
  right: auto;
}
.heading2.right {
  text-align: right;
}
.heading2.right::before {
  left: auto;
}
.heading2.right::after {
  left: auto;
}

.ranked-sec {
  background: url(../../../img/mobile-app-development-company/double-bubble-outline.webp);
}
.ranked-sec .box {
  -moz-border-radius: 15px;
  transition: all 0.3s linear;
  padding: 55px 15px;
  background-size: cover;
  border-radius: 100px 50px 100px 50px;
  background: #eff3ff;
  position: relative;
  position: relative;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
  border-radius: 14px;
  margin: 0 15px;
  position: relative;
}
.ranked-sec .box:hover {
  box-shadow: 0px 5px 25px #ccc;
  transform: translateY(-10px);
  transition: 0.3s all ease-in;
  cursor: pointer;
}

.bg-about {
  background: url(../../../img/mobile-app-development-company/bg-shap-01.webp) no-repeat bottom left;
}
.bg-about::after {
  content: "";
  background: url(../../../img/mobile-app-development-company/bg-shap-01.webp) no-repeat bottom left;
  position: absolute;
  right: auto;
  left: 0;
  top: -461px;
  width: 501px;
  height: 1301px;
  z-index: -9999;
  margin: 0 auto;
}

.benifits .benifit-item {
  position: relative;
  transition: all 0.3s ease;
  border-radius: 6px !important;
  border: 1px solid #c6cbda;
}
.benifits .benifit-item .actives {
  border: 1px solid #0b5a7b;
}
.benifits .benifit-item:hover {
  border: 1px solid #0b5a7b;
  transition: all 0.3s ease;
}
.benifits .benifit-item:hover img {
  filter: grayscale(1);
  transition: all 0.3s ease;
}
.benifits .benifit-item:hover::after {
  transition: all 0.3s ease;
  cursor: pointer;
}
.benifits .benifit-item::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 10%;
  right: 10%;
  height: 21px;
  z-index: 0;
  border-radius: 9px 9px 0 0;
}

.footer-part-main {
  background-color: #03151d;
}

.leftside img {
  animation: howtowork2 3s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork2 {
  0% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-8px);
  }
}

.topside1 img {
  animation: howtowork3 3s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork3 {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.topside2 img {
  animation: howtowork4 4s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork4 {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.topside3 img {
  animation: howtowork5 5s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork5 {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}

.tranded {
  background: url(../../../img/mobile-app-development-company/double-bubble-outline.webp);
}
.tranded::after {
  content: "";
  background: url(../../../img/mobile-app-development-company/bg-shap-01.webp) no-repeat bottom right;
  position: absolute;
  right: 0;
  top: 0;
  width: 307px;
  height: 723px;
  transform: rotate(187deg);
}

.heading-small span {
  text-align: left;
  position: relative;
  color: #001033;
  padding-left: 60px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: normal;
  text-transform: capitalize;
  padding-top: 4px;
}
.heading-small:before {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  left: 0;
  background-color: #001033;
  top: 18px;
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  .fantasysports-sec .heading2 {
    text-align: center !important;
  }
  .fantasysports-sec .heading2::before {
    right: 0 !important;
  }
  .fantasysports-sec .heading2::after {
    right: 0 !important;
  }
}
@media (max-width: 767.98px) {
  .app-developemnt .heading2 {
    text-align: center !important;
  }
  .app-developemnt .heading2::before {
    right: 0 !important;
  }
  .app-developemnt .heading2::after {
    right: 0 !important;
  }
  .fantasysports-sec .heading2 {
    text-align: center !important;
  }
  .fantasysports-sec .heading2::before {
    right: 0 !important;
  }
  .fantasysports-sec .heading2::after {
    right: 0 !important;
  }
  .hero_title1 {
    text-align: center !important;
  }
  .bg-about::after {
    display: none;
  }
  .ranked-sec .box {
    padding: 55px 7px;
    margin: 0 0px;
  }
  .tranded::after {
    content: "";
    background: url(../../../img/fantasy-sports-app-development-company/bg-shap-01.webp) no-repeat bottom right;
    position: absolute;
    right: -95px;
    top: 0;
    width: 307px;
    height: 723px;
    transform: rotate(181deg);
    overflow: hidden;
  }
  .stats-section .st-box {
    margin-bottom: 20px;
  }
  .header-bg img {
    height: 31px !important;
  }
  .features-sec .nav-tabs {
    padding: 7px !important;
  }
  .cta-btn .cta {
    padding: 9px 14px !important;
  }
  .shape1 {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    animation: howtowork 3s ease-in-out infinite alternate-reverse both;
    top: 4px;
  }
}
@media (max-width: 575.98px) {
  .app-developemnt .heading2 {
    text-align: center !important;
  }
  .app-developemnt .heading2::before {
    right: 0 !important;
  }
  .app-developemnt .heading2::after {
    right: 0 !important;
  }
  .fantasysports-sec .heading2 {
    text-align: center !important;
  }
  .fantasysports-sec .heading2::before {
    right: 0 !important;
  }
  .fantasysports-sec .heading2::after {
    right: 0 !important;
  }
  .bg-about::after {
    display: none;
  }
  .ranked-sec .box {
    padding: 55px 7px;
    margin: 0 0px;
  }
  .tranded::after {
    content: "";
    background: url(../../../img/mobile-app-development-company/bg-shap-01.webp) no-repeat bottom right;
    position: absolute;
    right: -95px;
    top: 0;
    width: 307px;
    height: 723px;
    transform: rotate(181deg);
    overflow: hidden;
  }
  .stats-section .st-box {
    margin-bottom: 20px;
  }
  .header-bg img {
    height: 31px !important;
  }
  .features-sec .nav-tabs {
    padding: 7px !important;
  }
  .cta-btn .cta {
    padding: 9px 14px !important;
  }
  .header-sec {
    background-position: inherit;
  }
  .hero_title1 {
    text-align: center !important;
  }
  .shape1 {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    animation: howtowork 3s ease-in-out infinite alternate-reverse both;
    top: 4px;
  }
}
.hero_logo_section .hero_image_toggles2 .hero_img_toggles2_inner {
  background-color: rgba(255, 255, 255, 0.168627451);
  border-radius: 20px;
  padding: 16px !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.hero_logo_section .hero_image_toggles2 .hero_img_toggles2_inner .cricketApp {
  border-radius: 12px;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: #ffffff;
  border: 4px solid #1a3643;
}
.hero_logo_section .hero_image_toggles2 .hero_img_toggles2_inner .cricketApp .form-control, .hero_logo_section .hero_image_toggles2 .hero_img_toggles2_inner .cricketApp .form-select {
  border: 2px solid #cdcdcd;
  background-color: #eaeaea;
  font-size: 13px;
  padding: 23px 11px 11px 11px;
  height: 48px;
}
.hero_logo_section .hero_image_toggles2 .hero_img_toggles2_inner .cricketApp .form-floating > label {
  font-size: 13px;
  line-height: unset;
  display: inline-flex;
  align-items: center;
}

.countBoxOuter {
  background-color: transparent;
  display: flex;
}
.countBoxOuter .countBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  cursor: default;
  animation: countPopup 2s linear infinite;
  animation-delay: var(--d);
  transform: scale(0.9);
}
.countBoxOuter .countBox .countIcon {
  filter: brightness(100);
}
@keyframes countPopup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.weServeIndSection .newindustriesboxwrapper .card {
  height: 100%;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
}
.weServeIndSection .newindustriesboxwrapper .card .card-body {
  padding: 40px 10px;
  border-radius: 10px;
  background-color: #fff;
}
.weServeIndSection .newindustriesboxwrapper .card .card-body.body2 {
  padding: 40px 10px;
  height: auto;
  z-index: 1;
  min-height: -moz-min-content;
  min-height: min-content;
  background: linear-gradient(45deg, #0b5a7b, #03151d);
  position: absolute;
  inset: 0;
  width: 100%;
  transform: scale(0);
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.weServeIndSection .newindustriesboxwrapper .card .card-body.body2 .imgOuter img {
  filter: brightness(30);
}
.weServeIndSection .newindustriesboxwrapper .card .card-body .imgOuter {
  width: 54px;
  height: 54px;
  margin: auto;
}
.weServeIndSection .newindustriesboxwrapper .card:hover .body2 {
  transform: scale(1.08);
}

.top-develpers-section {
  background: #f6f6f6;
}
.top-develpers-section .review img {
  transition: all 400ms ease-out 0s;
}
.top-develpers-section .review:hover img {
  transform: scale(-1) rotate(180deg);
}
.top-develpers-section .accordion-item {
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.top-develpers-section .accordion-button:not(.collapsed)::after {
  background-image: none m !important;
  transform: rotate(180deg);
}

@media (max-width: 1399.98px) {
  .countBoxOuter .countBox {
    padding: 20px 5px;
  }
  .countBoxOuter .countBox .aboutNumberText {
    font-size: 30px;
  }
}
@media (max-width: 1199.98px) {
  .countBoxOuter .countBox {
    padding: 13px 5px;
  }
  .countBoxOuter .countBox .aboutNumberText {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) {
  .countBoxOuter .countBox .aboutNumberText {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .weServeIndSection .newindustriesboxwrapper {
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: start !important;
  }
  .weServeIndSection .newindustriesboxwrapper .card {
    min-width: 225px;
  }
  .weServeIndSection .newindustriesboxwrapper .card .card-body {
    position: absolute;
    transform: scale(0);
  }
  .weServeIndSection .newindustriesboxwrapper .card .card-body.body2 {
    position: static;
    transform: unset;
  }
}
@media (max-width: 575.98px) {
  .weServeIndSection .newindustriesboxwrapper .card {
    max-width: 225px;
  }
  .weServeIndSection .newindustriesboxwrapper .card .card-body.body2 {
    padding: 25px 10px;
  }
}/*# sourceMappingURL=mobile-app-development-company-1.css.map */