.arrowright {
  animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes bounce {
  50% {
    transform: translateX(-4px);
  }
}
.silder-section {
  position: relative;
  background-image: linear-gradient(to top, rgba(0, 3, 169, 0.2392156863), rgba(0, 3, 169, 0.2392156863)), url(../../../img/hero-section/Banner.webp);
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.silder-section .brand-stripe {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 0;
  right: 0;
}
.silder-section .brand-stripe .ms-sprite {
  background: url(../../../img/hero-section/Sprite.webp) no-repeat;
  display: inline-block;
}
.silder-section .brand-stripe .samsung.ms-sprite {
  background-position: -511px -815px;
  width: 169px;
  height: 31px;
}
.silder-section .brand-stripe .kohl.ms-sprite {
  background-position: -753px -815px;
  width: 133px;
  height: 29px;
}
.silder-section .brand-stripe .jio.ms-sprite {
  background-position: -953px -801px;
  width: 97px;
  height: 56px;
}
.silder-section .brand-stripe .oxo.ms-sprite {
  background-position: -511px -936px;
  width: 82px;
  height: 37px;
}
.silder-section .brand-stripe .roland.ms-sprite {
  background-position: -652px -915px;
  width: 79px;
  height: 79px;
}
.silder-section .brand-stripe .aho.ms-sprite {
  background-position: -791px -933px;
  width: 106px;
  height: 43px;
}
.silder-section .brand-stripe .deloitte.ms-sprite {
  background-position: -965px -939px;
  width: 152px;
  height: 32px;
}
.silder-section .brand-stripe .brand-list {
  justify-content: center;
  align-items: center;
  display: flex;
}
.silder-section .brand-stripe .brand-list li {
  display: inline-block;
  padding: 0 30px;
  text-align: center;
}
.silder-section .brand-stripe .brand-list li .ms-sprite {
  opacity: 0.4;
  zoom: 0.8;
  -moz-transform: scale(0.8);
}

.header-section .navbar-nav li a {
  letter-spacing: 0.5px;
}

.about-section {
  position: relative;
}
.about-section .swap-card {
  overflow: hidden;
}
.about-section .about-cards {
  padding: 40px 30px;
  min-height: 400px;
  border-radius: 25px;
}
.about-section .about-cards.bg-img-1 {
  background-image: url(../../../img/hero-section/about-card-1.png);
  background-position: center;
  background-size: cover;
}
.about-section .about-cards.bg-img-2 {
  background-image: url(../../../img/hero-section/about-card-2.png);
  background-position: center;
  background-size: cover;
}
.about-section .about-cards.bg-img-3 {
  background-image: url(../../../img/hero-section/about-card-3.png);
  background-position: center;
  background-size: cover;
}
.about-section .about-cards.bg-img-4 {
  background-image: url(../../../img/hero-section/about-card-4.png);
  background-position: center;
  background-size: cover;
}
.about-section .about-cards.bg-img-5 {
  background-image: url(../../../img/hero-section/about-card-5.png);
  background-position: center;
  background-size: cover;
  min-height: inherit;
}
.about-section .about-cards .desc {
  letter-spacing: 1px;
}

.comments img {
  opacity: 0.6;
}

.case-study-section #casestudy {
  background: #FF5A5F;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy:hover {
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy1 {
  background: #000000;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy1:hover {
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy2 {
  background: #A196D4;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy2:hover {
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy3 {
  background: #EF5844;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy3:hover {
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy4 {
  background: #0986C8;
  border-radius: 8px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section #casestudy4:hover {
  transform: scale(0.9);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.case-study-section .divider {
  background-color: #fff;
  margin-top: 24px;
  margin-bottom: 48px;
  width: 48px;
  height: 1px;
}

.industries-sec .col {
  padding: 5px;
}
.industries-sec .col a {
  transition: 0.3s ease-in-out;
  display: block;
  position: relative;
  height: 220px;
  overflow: hidden;
}
.industries-sec .col a:hover:after {
  height: 100%;
  background: linear-gradient(0deg, #0e2dff 0, rgba(0, 0, 0, 0) 100%);
}
.industries-sec .col a:hover figcaption {
  height: 100%;
}
.industries-sec .col a:after {
  transition: 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(0deg, #000 0, rgba(255, 255, 255, 0) 100%);
  height: 130px;
  opacity: 0.7;
}
.industries-sec .col a figure {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}
.industries-sec .col a figure img {
  transition: 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.industries-sec .col a figure img:hover {
  transform: scale(1.1);
}
.industries-sec .col a figcaption {
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #fff;
  z-index: 1;
}

.footer-form-section {
  background: linear-gradient(135deg, #00b35c 0, #0b8a8a 47%, #004475 100%);
  position: relative;
}
.footer-form-section .form-leftbox {
  background-color: #1d2942;
}
.footer-form-section .form-leftbox ul {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #515151;
}
.footer-form-section .form-leftbox ul li {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.footer-form-section .form-leftbox ul li .bottom-form-img {
  width: 80px;
  height: 80px;
}
.footer-form-section .form-leftbox ul li .bottom-form-img img {
  filter: grayscale(100%);
  width: 100%;
}
.footer-form-section .form-leftbox ul li .bottom-form-img span {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}
.footer-form-section .form-rightbox {
  background-color: #fff;
}
.footer-form-section .form-rightbox .common-input {
  border-bottom: 1px solid #000 !important;
  padding: 20px 20px 20px 40px;
  color: #000;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  border: none;
  font-size: 16px;
}
.footer-form-section .form-rightbox .common-input:focus {
  box-shadow: none !important;
  border: none;
  outline: 0 !important;
}
.footer-form-section .form-rightbox .common-input:active {
  box-shadow: none !important;
  border: none;
}
.footer-form-section .form-rightbox .u-name {
  background: url("../../../img/hero-section/user1.png") 0 50% no-repeat;
}
.footer-form-section .form-rightbox .u-email {
  background: url("../../../img/hero-section/email.png") 0 50% no-repeat;
}
.footer-form-section .form-rightbox .u-phone {
  background: url("../../../img/hero-section/mobile.png") 0 50% no-repeat;
}
.footer-form-section .form-rightbox .u-company {
  background: url("../../../img/hero-section/company.png") 0 50% no-repeat;
}
.footer-form-section .form-rightbox .u-message {
  background: url("../../../img/hero-section/message.png") 0 50% no-repeat;
  background-position: 0% 34%;
}
.footer-form-section .form-rightbox .attach {
  background-position: 0 10px;
  padding: 0px 18px 2px 32px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 5px;
  background: url("../../../img/hero-section/attach-icon.svg");
  font-size: 15px;
  background-size: 3%;
  background-repeat: no-repeat;
}
.footer-form-section .form-rightbox .attach input {
  opacity: 0;
  position: relative;
  top: -23px;
  width: 100%;
  display: block;
}
.footer-form-section .form-rightbox .attach label {
  color: #4492dc;
  text-decoration: underline;
  cursor: pointer;
}
.footer-form-section .confidential {
  margin-top: 15px;
  text-align: center;
}
.footer-form-section .confidential ul {
  display: inline-flex;
  margin-top: 5px;
  padding-left: 0;
}
.footer-form-section .confidential ul li {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 7px;
  justify-content: flex-end;
}
.footer-form-section .confidential ul li li:first-child {
  padding: 0 10px;
}
.footer-form-section .confidential ul li img {
  height: 20px;
  margin: 0 10px;
}

.ctaSection {
  background-color: #fff;
}
.ctaSection .ctaCardSection {
  padding: 100px 30px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("../../../img/new-cta/xl-cta-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.ctaSection .ctaCardSection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: -1;
}

.blog-section .lineclamp2 {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-section .lineclamp3 {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#footer-part-address {
  background: #091b38;
}

.footer-review {
  background-color: #03151d;
}

.our-services {
  background: #FC7754;
}

.how-appintment {
  position: relative;
}
.how-appintment .appintment-box .nav-tabs {
  border-bottom: none;
}
.how-appintment .appintment-box .nav-tabs .nav-link.active, .how-appintment .appintment-box .nav-tabs .nav-item.show .nav-link {
  color: #006aff !important;
  border: none;
  border-left: 3px solid #006aff !important;
  box-shadow: none;
}
.how-appintment .appintment-box .nav-tabs .nav-link.active:active, .how-appintment .appintment-box .nav-tabs .nav-item.show .nav-link:active {
  box-shadow: none;
}
.how-appintment .appintment-box .nav-tabs .nav-link.active:focus, .how-appintment .appintment-box .nav-tabs .nav-item.show .nav-link:focus {
  box-shadow: none;
}
.how-appintment .appintment-box ul li a {
  border-left: 3px solid transparent !important;
  border-radius: 0px !important;
  text-align: left !important;
}
.how-appintment .appintment-box ul li a:hover {
  color: #006aff !important;
  border-left: 3px solid #006aff !important;
}
.how-appintment .our-services-links {
  background: #e8f2f3;
}

.our-services-inner {
  margin-top: -100px;
}

@media (max-width: 1199.98px) {
  .ctaSection .ctaCardSection {
    background-image: url("../../../img/new-cta/t-cta-bg.webp");
  }
}
@media (max-width: 991.98px) {
  .ctaSection .ctaCardSection {
    padding: 60px 20px !important;
  }
}
@media (max-width: 767.98px) {
  .ctaSection .ctaCardSection {
    background-image: url("../../../img/new-cta/m-cta-bg.webp");
    padding: 50px 15px;
  }
}
@media (max-width: 575.98px) {
  .ctaSection .ctaCardSection {
    padding: 30px 15px !important;
  }
}
.aboutNewSection .countBoxOuter {
  background-color: transparent;
  display: flex;
}
.aboutNewSection .countBoxOuter .countBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px solid #139ed9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 5px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  cursor: default;
  animation: countPopup 2s linear infinite;
  animation-delay: var(--d);
  transform: scale(0.9);
}
.aboutNewSection .countBoxOuter .countBox .aboutNumberText {
  background: url(./../../../img/about-us-new/textbg1.avif) center;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  background-size: contain;
  line-height: 1;
}
@keyframes countPopup {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.forTargetSection {
  position: absolute;
  height: 94px;
  z-index: -1;
  width: 100%;
  top: -94px;
}

@media (max-width: 1399.98px) {
  .aboutNewSection .countBoxOuter .countBox {
    padding: 20px 5px;
  }
  .aboutNewSection .countBoxOuter .countBox .aboutNumberText {
    font-size: 30px;
  }
  .forTargetSection {
    height: 86px;
  }
}
@media (max-width: 1199.98px) {
  .aboutNewSection .countBoxOuter .countBox {
    padding: 13px 5px;
  }
  .aboutNewSection .countBoxOuter .countBox .aboutNumberText {
    font-size: 22px;
  }
}
@media (max-width: 991.98px) {
  .aboutNewSection .countBoxOuter .countBox .aboutNumberText {
    font-size: 30px;
  }
  .forTargetSection {
    height: 66px;
  }
}
@media (max-width: 767.98px) {
  .aboutNewSection .heading::before {
    right: 0;
  }
  .aboutNewSection .heading::after {
    right: 0px;
    animation: headings 3s infinite;
  }
  .forTargetSection {
    height: 0px;
  }
}
.ctaSection {
  background-color: #fff;
}
.ctaSection .ctaCardSection {
  padding: 100px 30px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("../../../img/new-cta/xl-cta-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.ctaSection .ctaCardSection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1199.98px) {
  .silder-section .brand-stripe .brand-list {
    padding-left: 0;
  }
  .silder-section .brand-stripe .brand-list li {
    display: inline-block;
    padding: 0 18px;
    text-align: center;
  }
  .silder-section .brand-stripe .brand-list li .ms-sprite {
    opacity: 0.4;
    zoom: 0.6;
    -moz-transform: scale(0.8);
  }
  .header-section .navbar-toggler svg path {
    fill: #fff;
  }
  .header-section .navbar-brand img {
    width: 145px;
    height: 40px;
  }
  .divider {
    margin-left: 14px;
    margin-bottom: 0px !important;
  }
}
@media (max-width: 991.98px) {
  .silder-section .brand-stripe .brand-list {
    padding-left: 0;
  }
  .silder-section .brand-stripe .brand-list li {
    display: inline-block;
    padding: 0 18px;
    text-align: center;
  }
  .silder-section .brand-stripe .brand-list li .ms-sprite {
    opacity: 0.4;
    zoom: 0.5;
    -moz-transform: scale(0.8);
  }
  .header-section .navbar-toggler svg path {
    fill: #fff;
  }
  .header-section .navbar-brand img {
    width: 145px;
    height: 40px;
  }
  .about-section .swap-card {
    overflow-x: scroll;
  }
  .about-section .abt-card {
    width: 334px;
  }
  .about-section.bg-img-5 {
    min-height: 400px;
  }
  .divider {
    margin-left: 14px;
    margin-bottom: 0px !important;
  }
  .footer-form-section .form-leftbox ul li {
    margin-right: 43px;
    margin-bottom: 10px;
  }
  .footer-form-section .form-leftbox ul {
    padding-bottom: 15px;
    margin-bottom: 40px;
  }
  .footer-form-section .confidential ul li {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .divider {
    margin-left: 14px;
    margin-bottom: 20px !important;
  }
  .silder-section .brand-stripe .brand-list {
    padding-left: 0;
  }
  .silder-section .brand-stripe .brand-list li {
    display: inline-block;
    padding: 0 9px;
    text-align: center;
  }
  .silder-section .brand-stripe .brand-list li .ms-sprite {
    opacity: 0.4;
    zoom: 0.3;
    -moz-transform: scale(0.8);
  }
  .header-section .navbar-toggler svg path {
    fill: #fff;
  }
  .header-section .navbar-brand img {
    width: 145px;
    height: 40px;
  }
  .about-section .swap-card {
    overflow-x: scroll;
  }
  .about-section .abt-card {
    width: 334px;
  }
  .about-section.bg-img-5 {
    min-height: 400px;
  }
  .industries-sec .col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .industries-sec .col:nth-child(5) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(6) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(11) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col a {
    height: 160px;
  }
  .industries-sec figcaption {
    font-size: 16px !important;
  }
  .about-section .about-cards.bg-img-5 {
    min-height: 400px;
  }
  .how-appintment {
    justify-content: center;
  }
  .appintment-box {
    padding: 0;
  }
  .footer-form-section .form-leftbox ul {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .footer-form-section .confidential ul li {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .silder-section .brand-stripe .brand-list {
    padding-left: 0;
  }
  .silder-section .brand-stripe .brand-list li {
    display: inline-block;
    padding: 0 9px;
    text-align: center;
  }
  .silder-section .brand-stripe .brand-list li .ms-sprite {
    opacity: 0.4;
    zoom: 0.3;
    -moz-transform: scale(0.8);
  }
  .header-section .navbar-toggler svg path {
    fill: #fff;
  }
  .header-section .navbar-brand img {
    width: 145px;
    height: 40px;
  }
  .about-section .swap-card {
    overflow-x: scroll;
  }
  .about-section .abt-card {
    width: 334px;
  }
  .about-section.bg-img-5 {
    min-height: 400px;
  }
  .services-coman .heading {
    text-align: center !important;
  }
  .services-coman .heading::before {
    right: 0 !important;
  }
  .services-coman .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .industries-sec .col {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .industries-sec .col:nth-child(5) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(6) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col:nth-child(11) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .industries-sec .col a {
    height: 160px;
  }
  .industries-sec figcaption {
    font-size: 16px !important;
  }
  .divider {
    margin-left: 14px;
    margin-bottom: 20px !important;
  }
  .about-section .about-cards.bg-img-5 {
    min-height: 400px;
  }
  .how-appintment {
    justify-content: center;
  }
  .appintment-box {
    padding: 0;
  }
  .footer-form-section .form-leftbox ul li {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footer-form-section .form-leftbox ul {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  .footer-form-section .form-rightbox .attach {
    background-position: 4px 16px;
    padding: 0px 20px 3px 36px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 5px;
    background: url(../../../img/hero-section/attach-icon.svg);
    font-size: 17px;
    background-size: 7%;
    background-repeat: no-repeat;
    text-transform: capitalize;
  }
  .footer-form-section .confidential ul li {
    font-size: 18px;
  }
}/*# sourceMappingURL=newindex.css.map */