.form-select {
  height: 58px;
  border-left: 4px solid #e09c19 !important;
}

.contactModal .modal-dialog .modal-content .modal-header {
  border: none !important;
  background: #03151d;
}
.contactModal .modal-dialog .modal-content .modal-header .modal-title {
  color: #fff;
}
.contactModal .modal-dialog .modal-content .modal-footer {
  border: none !important;
  background: #03151d;
}

.contact-with-us-section {
  background-color: #03151d;
}
.contact-with-us-section .heading::after {
  background-color: #03151d;
}
.contact-with-us-section .form-floating .form-control {
  border-left: 4px solid #e09c19;
}
.contact-with-us-section .form-floating.is-valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .was-validated .form-control:invalid {
  border-left: 4px solid #dc3545;
}
.contact-with-us-section .was-validated .form-control:valid {
  border-left: 4px solid #198754;
}
.contact-with-us-section .sparater-block {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 30px;
  top: 0;
}
.contact-with-us-section .sparater-block span {
  font-weight: 300;
  height: 48px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 48px;
  background: #03151d;
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -32px;
}
.contact-with-us-section .sparater-block span {
  left: -24px;
  width: 48px;
  border-radius: 100%;
  text-align: center;
}
.contact-with-us-section .emailid-block a {
  width: 100%;
  float: left;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.46);
  border: 1px solid rgba(52, 58, 64, 0.23);
  padding: 14px 10px 10px 90px;
  position: relative;
  min-height: 80px;
  transition: 0.5s all;
}
.contact-with-us-section .emailid-block a i {
  position: absolute;
  left: 22px;
  top: 23px;
  width: 28px;
  height: 39px;
  font-size: 32px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2px 44px 0px 0;
}
.contact-with-us-section .emailid-block a span.small-text {
  font-size: 14px;
  color: #139ed9;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  display: flex;
}
.contact-with-us-section .emailid-block a span.large-text {
  font-size: 20px;
  color: #fff;
  line-height: 34px;
}
.contact-with-us-section .emailid-block.skype_block a {
  background-color: rgba(52, 58, 64, 0.5);
}
.contact-with-us-section .emailid-block a:hover::before {
  background: rgba(19, 158, 217, 0.1);
}
.contact-with-us-section .listing-block h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2px;
}
.contact-with-us-section .listing-block ul {
  width: 100%;
  float: left;
  margin-top: 19px;
}
.contact-with-us-section .listing-block ul li {
  list-style: none;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  letter-spacing: 0.4px;
  margin-bottom: 11px;
  padding-left: 42px;
  position: relative;
}
.contact-with-us-section .listing-block ul.bluts li {
  padding-left: 32px;
}
.contact-with-us-section .listing-block ul.bluts li:after {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e09c19;
  border-radius: 100%;
  top: 7px;
  content: "";
  left: 0;
}

.top_banner {
  background: linear-gradient(90deg, #03151d 50%, rgba(3, 21, 29, 0.0096) 56%, rgba(3, 21, 29, 0.004) 76%), var(--bg);
  background-size: cover;
  background-position: 37% 0%;
}
.top_banner::before {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}
.top_banner::after {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  z-index: 0;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
.top_banner .heading::after {
  background: #03151d;
}
.top_banner .top_banner-left-part img:nth-child(1) {
  filter: drop-shadow(2px 4px 6px #03151d);
}
.top_banner .top_banner-left-part img:nth-child(2) {
  filter: invert(1);
}
.top_banner > *::before {
  content: "";
  background: url(../../../img/parallax-web-designing/bubble-o.webp);
  position: absolute;
  top: 20%;
  left: 13%;
  background-position: top right;
  filter: brightness(0.2);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  width: 150px;
  height: 150px;
  background-size: 100px;
}

.understanding-ionic-apps-section {
  background: #f5f6f8;
}

.understanding-ionic-apps-section::before {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.understanding-ionic-apps-section::after {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.understanding-ionic-apps-section .tilt_image_pos img:nth-child(1) {
  transform: translateZ(var(--tz)) rotate(-16deg);
  filter: drop-shadow(2px 4px 6px #212529);
}

.understanding-ionic-apps-section .tilt_image_pos img:nth-child(2) {
  filter: contrast(0);
}

.ionic-benefits-section {
  background: #03151d;
  background-size: cover;
}
.ionic-benefits-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url(../../../img/parallax-web-designing/dots.webp);
  background-size: 225px;
}
.ionic-benefits-section::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: url(../../../img/parallax-web-designing/bg1.webp);
  background-size: contain;
  transform: rotateY(180deg);
  background-repeat: no-repeat;
}
.ionic-benefits-section .ionic-benefits-box {
  background: rgba(0, 0, 0, 0.46);
  border: 1px solid rgba(52, 58, 64, 0.23);
  border-radius: 10px;
  transition: 0.5s;
}
.ionic-benefits-section .ionic-benefits-box .ionic-benefits-box-ico {
  display: block;
  margin: 15px 0;
}
.ionic-benefits-section .ionic-benefits-box .ionic-benefits-box-ico img {
  max-width: 65px;
}
.ionic-benefits-section .ionic-benefits-box span i {
  color: #e09c19;
}
.ionic-benefits-section .ionic-benefits-box::before {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  background: rgba(19, 158, 217, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  transition: 0.5s all;
  transition-delay: 0s;
  z-index: 0;
}
.ionic-benefits-section .ionic-benefits-box:hover {
  background: rgba(19, 158, 217, 0.1);
}
.ionic-benefits-section .ionic-benefits-box:hover::before {
  background: rgba(0, 0, 0, 0.46);
}

.redesign-web-features::after {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

.redesign-web-features::before {
  content: "";
  background: url(../../../img/parallax-web-designing/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}

.boxdiv {
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.2s ease;
  text-align: center;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100px;
  border-radius: 5px;
  display: flex;
  color: #e09c19;
  align-items: center;
  transition: 0.5s all;
}

.boxdiv:hover {
  background: #e09c19;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-8px);
}

.redesign-web-portfolio::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url(../../../img/parallax-web-designing/bg1.webp);
  background-size: contain;
  transform: rotateY(0deg);
  background-repeat: no-repeat;
}

.project-wrap {
  position: relative;
  height: 340px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 0;
  margin-bottom: 30px;
  background: var(--bg);
  background-size: cover;
}

.project-wrap:after,
.project-wrap:before {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(3, 21, 29, 0.8);
  width: 100%;
  height: 50%;
  content: "";
  opacity: 0.7;
  transition: all 0.6s ease;
}

.project-wrap:before {
  top: -50%;
}

.project-wrap:after {
  bottom: -50%;
}

.project-wrap .text {
  padding: 20px;
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: block;
  width: 100%;
}

.project-wrap .text .icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #e09c19;
  border-radius: 50%;
  z-index: 1;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.project-wrap:hover:before {
  top: 0;
  right: 0;
}

.project-wrap:hover:after {
  bottom: 0;
  left: 0;
}

.project-wrap:hover .text {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40%;
  content: "";
  background: #03151d;
}

.Contact_us_project {
  background: #281c05;
}

.Contact_us_project .proposal_bg::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: -89px;
  top: -64px;
  width: 252px;
  height: 242px;
  background: url(../../../img/parallax-web-designing/bubble-o.webp);
  background-size: 140px;
  filter: brightness(0);
  opacity: 0.2;
  transform: rotate(45deg);
}

.Contact_us_project .proposal_bg::after {
  content: "";
  position: absolute;
  z-index: 0;
  background: url(../../../img/parallax-web-designing/bg-pattern-cl.webp);
  background-size: cover;
  width: 150px;
  height: 189px;
  right: -43px;
  top: -40px;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}

@media (max-width: 1199.98px) {
  .ionic-benefits-seccenter .heading.left span {
    font-size: 28px;
  }
  .redesign-web-features .heading.center span {
    font-size: 28px;
  }
  .redesign-web-features::after {
    background-size: 1300px;
  }
  .redesign-web-features::before {
    background-size: 1300px;
  }
  .redesign-web-features .boxdiv {
    min-height: auto;
  }
  .redesign-web-portfolio .heading.left span {
    font-size: 28px;
  }
  .redesign-web-portfolio .project-wrap {
    height: 290px;
  }
}
@media (max-width: 991.98px) {
  .top_banner {
    background: linear-gradient(90deg, #03151d 50%, #03151d 100%), var(--bg);
  }
  .top_banner::before {
    background: none;
  }
  .top_banner .heading {
    text-align: center !important;
  }
  .top_banner .heading::before {
    right: 0 !important;
  }
  .top_banner .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .understanding-ionic-apps-section .heading {
    text-align: center !important;
  }
  .understanding-ionic-apps-section .heading::before {
    right: 0 !important;
  }
  .understanding-ionic-apps-section .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
  .ionic-benefits-section .heading.center {
    font-size: 12px;
  }
  .ionic-benefits-section .heading.center span {
    font-size: 24px;
  }
  .redesign-web-features .heading.center {
    font-size: 12px;
  }
  .redesign-web-features .heading.center span {
    font-size: 24px;
  }
  .redesign-web-features::after {
    background-size: 1200px;
  }
  .redesign-web-features::before {
    background-size: 1200px;
  }
  .redesign-web-portfolio .heading.left {
    font-size: 12px;
  }
  .redesign-web-portfolio .heading.left span {
    font-size: 24px;
  }
  .redesign-web-portfolio .overlay {
    height: 28%;
  }
  .redesign-web-portfolio .project-wrap .text .icon {
    font-size: 15px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 767.98px) {
  .ionic-benefits-section .heading.center span {
    font-size: 20px;
  }
  .redesign-web-features .heading.center span {
    font-size: 20px;
  }
  .redesign-web-features::after {
    background-size: 900px;
  }
  .redesign-web-features::before {
    background-size: 900px;
  }
  .redesign-web-portfolio .heading.left span {
    font-size: 20px;
  }
  .redesign-web-portfolio .overlay {
    height: 300px;
  }
}/*# sourceMappingURL=parallax-web-designing.css.map */