@charset "UTF-8";

@import "variables";

// Top Banner
.top_banner {
  background: linear-gradient(
      90deg,
      darken($theme1, 40) 50%,
      rgba(darken($theme1, 40), 0.96%) 56%,
      rgba(darken($theme1, 40), 0.4%) 76%
    ),
    var(--bg);
  background-size: cover;
  background-position: 37% 0%;

  & .heading {
    &::after {
      background: darken($theme1, 40);
    }
  }

  & .top_banner-left-part {
    & img {
      &:nth-child(1) {
        -webkit-filter: drop-shadow(2px 4px 6px darken($theme1, 40));
        filter: drop-shadow(2px 4px 6px darken($theme1, 40));
      }

      &:nth-child(2) {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }
  }

 
}

// Small devices (landscape phones, 576px and up)
@mixin top_banner-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin top_banner-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin top_banner-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin top_banner-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin top_banner-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin top_banner-mixin-max-xs() {
}

// Small devices (landscape phones, less than 768px)
@mixin top_banner-mixin-max-sm() {
}

// Medium devices (tablets, less than 992px)
@mixin top_banner-mixin-max-md() {
  .top_banner {
    background: linear-gradient(90deg, darken($theme1, 40) 50%, darken($theme1, 40) 100%), var(--bg);

    &::before {
      background: none;
    }

    & .heading {
      text-align: center !important;

      &::before {
        right: 0 !important;
      }

      &::after {
        right: 0 !important;
        -webkit-animation: headings 3s infinite !important;
        animation: headings 3s infinite !important;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@mixin top_banner-mixin-max-lg() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin top_banner-mixin-max-xl() {
}

//  Transform Vision
.about_iphone {
  background: lighten($gray-200, 4);
 
  & .tilt_image_pos {
    & img {
      &:nth-child(1) {
        transform: translateZ(var(--tz)) rotate(-16deg);
        filter: drop-shadow(2px 4px 6px #212529);
      }
      &:nth-child(2) {
        filter: contrast(0);
        left: -18px;
        bottom: -27px;
        width: 350px;
      }
      &:nth-child(3) {
        width: 250px;
        left: -242px;
        top: 0px;
        transform: rotate(39deg);
      }
    }
  }
  & .justify {
    text-align: justify;
  }
}
// Small devices (landscape phones, 576px and up)
@mixin about_iphone-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin about_iphone-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin about_iphone-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin about_iphone-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin about_iphone-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin about_iphone-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin about_iphone-mixin-max-sm() {
  .about_iphone {
    & .heading.left {
      & span {
        font-size: 20px;
      }
    }
    &::after {
      background-size: 900px;
    }
    &::before {
      background-size: 900px;
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin about_iphone-mixin-max-md() {
  .about_iphone {
    & .heading.left {
      font-size: 12px;
      & span {
        font-size: 24px;
      }
    }
    &::after {
      background-size: 1200px;
    }
    &::before {
      background-size: 1200px;
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin about_iphone-mixin-max-lg() {
  .about_iphone {
    & .heading.left {
      & span {
        font-size: 28px;
      }
    }
    &::after {
      background-size: 1300px;
    }
    &::before {
      background-size: 1300px;
    }
  }
}
// X-Large devices (large desktops, less than 1400px)
@mixin about_iphone-mixin-max-xl() {
}

// Devolopements Benefits
.devolopements-benefits {
  background-color: darken($theme1, 40);
  background-size: cover;
}
.devolopements-benefits-box {
  background: rgba($theme1, 0.1);
  transition: 0.5s;
}
.devolopements-benefits-box:hover {
  background-color: rgba($gray-800, 0.5);
}
.devolopements-benefits-box-count {
  position: absolute;
  left: -25px;
  height: 50px;
  background-color: $theme3;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: $white;
  font-size: 24px;
  transition: 0.5s;
}
.devolopements-benefits-box:hover .devolopements-benefits-box-count {
  border-radius: 10px;
}
// Small devices (landscape phones, 576px and up)
@mixin devolopements-benefits-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin devolopements-benefits-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin devolopements-benefits-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin devolopements-benefits-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin devolopements-benefits-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin devolopements-benefits-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin devolopements-benefits-mixin-max-sm() {
  .devolopements-benefits {
    & .heading.left {
      text-align: center;
      & span {
        font-size: 20px;
      }
      &::after {
        right: 0;
      }
      &::before {
        right: 0;
      }
    }
    & .devolopements-benefits-box-count {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -27px;
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin devolopements-benefits-mixin-max-md() {
  .devolopements-benefits {
    & .heading.left {
      font-size: 12px;
      & span {
        font-size: 24px;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin devolopements-benefits-mixin-max-lg() {
  .devolopements-benefits {
    & .heading.left {
      & span {
        font-size: 28px;
      }
    }
  }
}
// X-Large devices (large desktops, less than 1400px)
@mixin devolopements-benefits-mixin-max-xl() {
}

// features of collage

.features-of-collage .boxdiv {
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  text-align: center;
  -webkit-box-shadow: inset 0 0 15px #00000033;
  box-shadow: inset 0 0 15px #00000033;
  min-height: 100px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e09c19;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.features-of-collage .boxdiv:hover {
  background: #e09c19;
  color: #fff;
  -webkit-box-shadow: inset 0 0 20px #0000004d;
  box-shadow: inset 0 0 20px #0000004d;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
// Small devices (landscape phones, 576px and up)
@mixin features-of-collage-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin features-of-collage-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin features-of-collage-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin features-of-collage-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin features-of-collage-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin features-of-collage-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin features-of-collage-mixin-max-sm() {
  .features-of-collage {
    & .heading.center {
      & span {
        font-size: 20px;
      }
    }
    &::after {
      background-size: 900px;
    }
    &::before {
      background-size: 900px;
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin features-of-collage-mixin-max-md() {
  .features-of-collage {
    & .heading.center {
      font-size: 12px;
      & span {
        font-size: 24px;
      }
    }
    &::after {
      background-size: 1200px;
    }
    &::before {
      background-size: 1200px;
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin features-of-collage-mixin-max-lg() {
  .features-of-collage {
    & .heading.center {
      & span {
        font-size: 28px;
      }
    }
    &::after {
      background-size: 1300px;
    }
    &::before {
      background-size: 1300px;
    }
    & .boxdiv {
      min-height: auto;
    }
  }
}
// X-Large devices (large desktops, less than 1400px)
@mixin features-of-collage-mixin-max-xl() {
}

// Contact Us project
.Contact_us_project {
  background: darken($theme1, 40);
}
.Contact_us_project::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../../../img/payroll-management-software/double-bubble-outline.webp);
  background-size: 450px;
  opacity: 0.05;
  background-position: bottom;
}

// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include top_banner-mixin-min-sm();
  @include about_iphone-mixin-min-sm();
  @include devolopements-benefits-mixin-min-sm();
  @include features-of-collage-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include top_banner-mixin-min-md();
  @include about_iphone-mixin-min-md();
  @include devolopements-benefits-mixin-min-md();
  @include features-of-collage-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include top_banner-mixin-min-lg();
  @include about_iphone-mixin-min-lg();
  @include devolopements-benefits-mixin-min-lg();
  @include features-of-collage-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include top_banner-mixin-min-xl();
  @include about_iphone-mixin-min-xl();
  @include devolopements-benefits-mixin-min-xl();
  @include features-of-collage-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include top_banner-mixin-min-xxl();
  @include about_iphone-mixin-min-xxl();
  @include devolopements-benefits-mixin-min-xxl();
  @include features-of-collage-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include top_banner-mixin-max-xl();
  @include about_iphone-mixin-max-xl();
  @include devolopements-benefits-mixin-max-xl();
  @include features-of-collage-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include top_banner-mixin-max-lg();
  @include about_iphone-mixin-max-lg();
  @include devolopements-benefits-mixin-max-lg();
  @include features-of-collage-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include top_banner-mixin-max-md();
  @include about_iphone-mixin-max-md();
  @include devolopements-benefits-mixin-max-md();
  @include features-of-collage-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include top_banner-mixin-max-sm();
  @include about_iphone-mixin-max-sm();
  @include devolopements-benefits-mixin-max-sm();
  @include features-of-collage-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include top_banner-mixin-max-xs();
  @include about_iphone-mixin-max-xs();
  @include devolopements-benefits-mixin-max-xs();
  @include features-of-collage-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
