.top_banner {
  background: linear-gradient(90deg, #03151d 50%, rgba(3, 21, 29, 0.0096) 56%, rgba(3, 21, 29, 0.004) 76%), var(--bg);
  background-size: cover;
  background-position: 37% 0%;
}
.top_banner::before {
  content: "";
  background: url(../../../img/php-web-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}
.top_banner::after {
  content: "";
  background: url(../../../img/php-web-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  z-index: 0;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
.top_banner .heading::after {
  background: #03151d;
}
.top_banner .top_banner-left-part img:nth-child(1) {
  filter: drop-shadow(2px 4px 6px #03151d);
}
.top_banner .top_banner-left-part img:nth-child(2) {
  filter: invert(1);
}
.top_banner > *::before {
  content: "";
  background: url(../../../img/php-web-development/bubble-o.webp);
  position: absolute;
  top: 20%;
  left: 13%;
  background-position: top right;
  filter: brightness(0.2);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  width: 150px;
  height: 150px;
  background-size: 100px;
}

.php-services-included {
  background: #f5f6f8;
}
.php-services-included::before {
  content: "";
  background: url(../../../img/php-web-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}
.php-services-included::after {
  content: "";
  background: url(../../../img/php-web-development/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}
.php-services-included .tilt_image_pos img:nth-child(1) {
  transform: translateZ(var(--tz)) rotate(-16deg);
  filter: drop-shadow(2px 4px 6px #212529);
}
.php-services-included .tilt_image_pos img:nth-child(2) {
  filter: contrast(0);
}

.php-frameworks::after {
  content: "";
  background: url(../../../img/php-web-development/bubble-o.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: left top;
  z-index: 0;
  filter: brightness(0.94);
  background-size: 60px;
}

.php-frameworks-tabs nav {
  text-align: center;
  display: flex;
  justify-content: center;
}

.php-frameworks-tabs nav .nav-tabs .nav-link {
  background-color: #0b5a7b;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  padding: 10px 22px 10px 40px;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  border: 0;
  transition: 0.5s all;
  overflow: hidden;
  margin: 0 5px;
  z-index: 2;
}

.php-frameworks-tabs nav .nav-tabs .nav-link::after {
  content: "";
  background: #e09c19;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 0px 123% 26% 0;
  transition: 0.5s;
}

.php-frameworks-tabs nav .nav-tabs .nav-link.active {
  transition: 0.5s all;
}

.php-frameworks-tabs nav .nav-tabs .nav-link.active::after {
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
}

.php-frameworks-tabs nav .nav-tabs .nav-link::before {
  content: "";
  background: #139ed9;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 0px 123% 26% 0;
  transition: 0.5s;
}

.php-frameworks-tabs nav .nav-tabs .nav-link.active::before {
  width: 30px;
}

.php-frameworks-box {
  background: #139ed9;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3019607843);
  border-radius: 50px;
  padding: 15px;
  transition: background 0.2s ease;
  text-align: center;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: 0.5s all;
}

.php-frameworks-box:hover {
  background: #139ed9;
  color: #fff;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3019607843);
  border-radius: 50px;
  transform: translateY(-8px);
}

.php-frameworks-box span {
  height: 50px;
  width: 50px;
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #f9f9f9;
  color: #139ed9;
  transition: background 0.2s ease;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

@media (max-width: 991.98px) {
  .top_banner {
    background: linear-gradient(90deg, #03151d 50%, #03151d 100%), var(--bg);
  }
  .top_banner::before {
    background: none;
  }
  .top_banner .heading {
    text-align: center !important;
  }
  .top_banner .heading::before {
    right: 0 !important;
  }
  .top_banner .heading::after {
    right: 0 !important;
    animation: headings 3s infinite !important;
  }
}/*# sourceMappingURL=php-web-development.css.map */