@charset "UTF-8";

@import "variables";
// Top Banner
.top_banner {
  background: linear-gradient(
      90deg,
      darken($theme1, 40) 50%,
      rgba(darken($theme1, 40), 0.96%) 56%,
      rgba(darken($theme1, 40), 0.4%) 76%
    ),
    var(--bg);
  background-size: cover;
  background-position: 37% 0%;
  &::before {
    content: "";
    background: url(../../../img/real-estate-management-software/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    filter: brightness(0.5);
    z-index: 0;
    transform: rotateY(180deg) rotateX(180deg);
    background-repeat: no-repeat;
  }
  &::after {
    content: "";
    background: url(../../../img/real-estate-management-software/footer-bg-3.webp);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top right;
    z-index: 0;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
  }
  & .heading {
    &::after {
      background: darken($theme1, 40);
    }
  }
  & .top_banner-left-part {
    & img {
      &:nth-child(1) {
                filter: drop-shadow(2px 4px 6px darken($theme1, 40));
      }
      &:nth-child(2) {
                filter: invert(1);
      }
    }
  }
  & > * {
    &::before {
      content: "";
      background: url(../../../img/real-estate-management-software/bubble-o.webp);
      position: absolute;
      top: 20%;
      left: 13%;
      background-position: top right;
      filter: brightness(0.2);
      z-index: 0;
      transform: rotateY(180deg) rotateX(180deg);
      width: 150px;
      height: 150px;
      background-size: 100px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@mixin top_banner-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin top_banner-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin top_banner-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin top_banner-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin top_banner-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin top_banner-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin top_banner-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin top_banner-mixin-max-md() {
  .top_banner {
    background: linear-gradient(90deg, darken($theme1, 40) 50%, darken($theme1, 40) 100%), var(--bg);
    &::before {
      background: none;
    }
    & .heading {
      text-align: center !important;
      &::before {
        right: 0 !important;
      }
      &::after {
        right: 0 !important;
        animation: headings 3s infinite !important;
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin top_banner-mixin-max-lg() {
}
// X-Large devices (large desktops, less than 1400px)
@mixin top_banner-mixin-max-xl() {
}

.development_services {
  background: #fff;
}

.development_services::after {
  content: "";
  background: url(../../../img/real-estate-management-software/bubble-o.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: left top;
  z-index: 0;
  -webkit-filter: brightness(0.94);
  filter: brightness(0.94);
  background-size: 60px;
}

.development_services .development_services_box {
  background: #fff;
  padding: 25px;
  -webkit-transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease;
  text-align: center;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 2;
  border-bottom: 3px solid #dee2e6;
}

.development_services .development_services_box::after {
  content: "";
  position: absolute;
  top: 32px;
  width: 60px;
  height: 60px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
  -webkit-transform: scale(5);
  transform: scale(5);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.development_services .development_services_box:hover .col-12 {
  color: #fff !important;
}

.development_services .development_services_box:hover::after {
  background-color: #e09c19;
  -webkit-transform: scale(1);
  transform: scale(1);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 0;
}





// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include top_banner-mixin-min-sm();
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include top_banner-mixin-min-md();
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include top_banner-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include top_banner-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include top_banner-mixin-min-xxl();
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include top_banner-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include top_banner-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include top_banner-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include top_banner-mixin-max-sm();
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include top_banner-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
