@charset "UTF-8";

@import "variables";

// Top Banner
.top_banner {
  background: linear-gradient(
      90deg,
      darken($theme1, 40) 50%,
      rgba(darken($theme1, 40), 0.96%) 56%,
      rgba(darken($theme1, 40), 0.4%) 76%
    ),
    var(--bg);
  background-size: cover;
  background-position: 37% 0%;
  
  & .top_banner-left-part {
    & img {
      &:nth-child(1) {
        filter: drop-shadow(2px 4px 6px darken($theme1, 40));
      }
      &:nth-child(2) {
        filter: invert(1);
      }
    }
  }

}

// our achievements section
.achievements {


  & .sparater-block {
    position: absolute;
    width: 1px;
    height: 100%;
    background: rgba($white, 0.5);
    left: 30px;
    top: 0;
    & span {
      font-weight: 300;
      height: 48px;
      font-size: 16px;
      color: $white;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      line-height: 48px;
      background: darken($theme1, 42);
      position: absolute;
      top: 50%;
      left: -11px;
      margin-top: -32px;
    }
    & span {
      left: -24px;
      width: 48px;
      border-radius: 100%;
      text-align: center;
    }
  }
}
// development services section
.development_services {
  background: $gray-200;

  & .development_services_box {
    background: $white;
    padding: 25px;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease;
    text-align: center;
    position: relative;
    border-radius: 0px;
    overflow: hidden;
    z-index: 2;
    border-bottom: 3px solid $gray-300;
    &::after {
      content: "";
      position: absolute;
      top: 32px;
      width: 60px;
      height: 60px;
      opacity: 1;
      visibility: visible;
      transition: 0.5s all;
      right: 0;
      left: 0;
      bottom: 0;
      border-radius: 50%;
      margin: 0 auto;
      z-index: -1;
      transform: scale(5);
      transform-origin: bottom;
    }
    &:hover {
      & .col-12 {
        color: $white !important;
      }
      &::after {
        background-color: $theme3;
        transform: scale(1);
        height: 100%;
        width: 100%;
        top: 0;
        border-radius: 0;
      }
    }
  }
}
//  benifits section
.benifits {
  background: $white;
  background-size: cover;
  & .benifit-item {
    position: relative;
    background: linear-gradient(180deg, $theme1 2%, $white 4%);
    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 10%;
      right: 10%;
      height: 21px;
      z-index: 0;
      border-radius: 9px 9px 0 0;
      background: $theme1;
    }
    &::after {
      content: "";
      position: absolute;
      top: -9px;
      left: 8%;
      right: 8%;
      height: 19px;
      z-index: -1;
      border-radius: 9px 9px 0 0;
      background: darken($theme1, 10);
    }
  }
}

.Contact_us_project {
  background: #03151d;
}



// new codes 


// Top Banner
// hero section 

.hero-section {
  // display: none;
  // padding-bottom: 60px;
  & .hero-section-innner {
      background: url(../../../img/hospital-management-software-new/herosection.jpg) no-repeat;
      background-size: cover ;
      background-position: center ;
      padding-top: 180px;
      padding-bottom: 50px;
      &::before {
          content: '';
          top: 0;
          left: 0;
          position: absolute;
          // background: rgba($black,.5);
          height: 100%;
          width: 100%;
          background-image: linear-gradient(187deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
      }
  }
  & .hero-section-subheading {
      animation: drop-in 1200ms ease 100ms 
  }
  @keyframes drop-in {
      from {
          opacity: 0;
          transform: translateY(-100px);
      }
      to {
          opacity: 1;
          transform: translate(0px);
      }
  } 
  & .heading {
      animation: drop-in 1s ease 200ms 
  }
  & .herorsection-data {
      animation:data 1s ease 200ms 
  }
  @keyframes data {
      from {
          opacity: 0;
          transform: translatex(-100px);
      }
      to {
          opacity: 1;
          transform: translate(0px);
      }
  }
  & .project-btn {
      animation:button 1s ease 200ms 
  } @keyframes button {
      from {
          opacity: 0;
          transform: translateY(100px);
      }
      to {
          opacity: 1;
          transform: translate(0px);
      }
  }
  & .portfolio-img {
      bottom: -120px;
      position: absolute;
  }
}

// / Small devices (landscape phones, 576px and up)
@mixin hero-section-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin hero-section-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin hero-section-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin hero-section-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin hero-section-mixin-min-xxl() {
  .hero-section {
    & .hero-section-innner {
    }
    & .hero-section-subheading {
    } 
    & .heading {
    }
    & .herorsection-data {
    }
    & .project-btn {
    } 
    & .portfolio-img {
        bottom: -130px;
    }
}
}
// X-Small devices (portrait phones, less than 576px)
@mixin hero-section-mixin-max-xs() {
}
// Small devices (landscape phones, less than 768px)
@mixin hero-section-mixin-max-sm() {
}
// Medium devices (tablets, less than 992px)
@mixin hero-section-mixin-max-md() {
  .hero-section {
    & .hero-section-innner {
        padding-top: 90px;
    }
    & .hero-section-subheading {
    } 
    & .heading {
      &::before{
        right: 0 !important;
      }
      &::after{
        right: 0 !important;
      }
    }
    & .herorsection-data {
    }
    & .project-btn {
    } 
    & .portfolio-img {
        aspect-ratio: 4/2;
    }
}
}
// Large devices (desktops, less than 1200px)
@mixin hero-section-mixin-max-lg() {
  .hero-section {
    & .hero-section-innner {
        padding-top: 130px;
    }
    & .hero-section-subheading {
    } 
    & .heading {
    }
    & .herorsection-data {
    }
    & .project-btn {
    } 
    & .portfolio-img {
        // bottom: -130px;
        position: unset;
    }
}
}
// X-Large devices (large desktops, less than 1400px)
@mixin hero-section-mixin-max-xl() {
}
// hero section end 


// our benefits section start 
.benifits {
  & .benefit-card {
    padding: 60px 30px;
    & .benefit-icon {
      height: 90px;
      width: 90px;
      color: #104cba;
      transition: all 0.3s ease-in-out;
      & .icons {
        transition: all 0.3s ease-in-out;
      }
    }
    & .benefits-name {
      color:#0e2b3d;
    }
    & .benefits-data {
      padding-top: 12px;
    }
    & .calender {
      color: darkorange;
    }
    &::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 0%;
      visibility: hidden;
      bottom: 0;
      right: 0;
      border-left: 3px solid $theme3;
      border-bottom: 3px solid $theme1;
      transition: width .2s ease .1s, height .1s ease, visibility 0s .2s;
      border-radius: 6px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 0%;
        visibility: hidden;
        top: 0;
        left: 0;
        border-top: 3px solid $theme3;
        border-right: 3px solid $theme1;
        transition: width .3s ease .3s, height .1s ease .2s, visibility 0s .4s;
        border-radius: 6px;
    }
    &:hover {
      & .benefit-icon {
        & .icons {
          transform: scale(1.2);
        }
      }
        &::after {
            width: 100%;
            height: 100%;
            visibility: visible;
            transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
            transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
        }
        &::before {
            width: 100%;
            height: 100%;
            visibility: visible;
            transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
            transition: width .1s ease, height .1s ease .1s;
        }
    }
  }
}
// / Small devices (landscape phones, 576px and up)
@mixin benifits-mixin-min-sm() {
}
// Medium devices (tablets, 768px and up)
@mixin benifits-mixin-min-md() {
}
// Large devices (desktops, 992px and up)
@mixin benifits-mixin-min-lg() {
}
// X-Large devices (large desktops, 1200px and up)
@mixin benifits-mixin-min-xl() {
}
// XX-Large devices (larger desktops, 1400px and up)
@mixin benifits-mixin-min-xxl() {
}
// X-Small devices (portrait phones, less than 576px)
@mixin benifits-mixin-max-xs() {
  .benifits {
    & .benefit-card {
      padding: 20px 15px;
      & .benefit-icon {
        height: 60px;
        width: 60px;
        & .icons {
        }
      }
      & .benefits-name {
      }
      & .benefits-data {
        padding-top: 8px;
      }
      &::after {
        width: 100%;
        height: 100%;
        visibility: visible;
        border-left: 3px solid $theme3;
        border-bottom: 3px solid $theme1;
      }
      &::before {
          width: 100%;
          height: 100%;
          visibility: visible;
      }
      &:hover {
        & .benefit-icon {
          & .icons {
            transform: scale(1);
          }
        }
          &::after {
          }
          &::before {
  
          }
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@mixin benifits-mixin-max-sm() {
  .benifits {
    & .benefit-card {
      padding: 35px 20px;
      & .benefit-icon {
        height: 70px;
        width: 70px;
        & .icons {
        }
      }
      & .benefits-name {
      }
      & .benefits-data {
        padding-top: 9px;
      }
      &::after {
      }
      &::before {
      }
      &:hover {
        & .benefit-icon {
          & .icons {
          }
        }
          &::after {
          }
          &::before {
  
          }
      }
    }
  }
}
// Medium devices (tablets, less than 992px)
@mixin benifits-mixin-max-md() {
  .benifits {
    & .benefit-card {
      padding:22px 14px;
      & .benefit-icon {
        height: 70px;
        width: 70px;
        & .icons {
        }
      }
      & .benefits-name {
      }
      & .calender {
        
      }
      & .benefits-data {
        padding-top: 9px;
      }
      &::after {
      }
      &::before {
      }
      &:hover {
        & .benefit-icon {
          & .icons {
          }
        }
          &::after {
          }
          &::before {
  
          }
      }
    }
  }
}
// Large devices (desktops, less than 1200px)
@mixin benifits-mixin-max-lg() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin benifits-mixin-max-xl() {
}
// our benefits section end 



// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include hero-section-mixin-min-sm();
  @include benifits-mixin-min-sm();

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include hero-section-mixin-min-md();
  @include benifits-mixin-min-md();
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include hero-section-mixin-min-lg();
  @include benifits-mixin-min-lg();
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include hero-section-mixin-min-xl();
  @include benifits-mixin-min-xl();
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  @include hero-section-mixin-min-xxl();
  @include benifits-mixin-min-xxl();

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  @include hero-section-mixin-max-xl();
  @include benifits-mixin-max-xl();
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  @include hero-section-mixin-max-lg();
  @include benifits-mixin-max-lg();
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  @include hero-section-mixin-max-md();
  @include benifits-mixin-max-md();
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  @include hero-section-mixin-max-sm();
  @include benifits-mixin-max-sm();

}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  @include hero-section-mixin-max-xs();
  @include benifits-mixin-max-xs();
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width