body {
  transition: background 1s ease;
}

button.accordion-button::after {
  filter: brightness(20);
}

.leftside img {
  animation: howtowork2 3s ease-in-out infinite alternate-reverse both;
}
@keyframes howtowork2 {
  0% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(-8px);
  }
}

.heading {
  line-height: 1.2;
  display: inline-block;
  letter-spacing: normal;
}

.cnts {
  color: #6c757d;
}

.cnts-1 {
  color: #6c757d;
}

.badge-circle {
  background-color: #139ed9;
  width: 25px;
  height: 25px;
}

button.accordion-button {
  background: linear-gradient(to right, #03151d 12%, #052635);
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 20px 20px;
}

.solution-section .card .card-body .cnts {
  color: #6c757d;
}
.solution-section .card:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15) !important;
}
.solution-section .card:hover .heads {
  color: #139ed9;
}

.popular-section .choose-box svg {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #139ed9;
  text-align: center;
  transition: all 0.3s ease-in-out;
  fill: #139ed9;
}
.popular-section .choose-box:hover svg {
  fill: #fff;
}
.popular-section .choose-box:hover svg {
  background-color: #139ed9;
}

.project-section {
  background: #03151d !important;
  position: relative;
}
.project-section .svg_1 {
  position: absolute;
  height: 60%;
  bottom: 0%;
  left: 0%;
}
.project-section .svg_2 {
  position: absolute;
  height: 40%;
  top: 0;
  right: 0;
}

.features-section .card .card-body .fwt {
  color: #139ed9;
}

.instant-section .e-learn {
  position: relative;
}
.instant-section .e-learn .login-cnts {
  z-index: 9;
}
.instant-section .e-learn .phne {
  padding: 30px 0;
  overflow: hidden;
  height: 100%;
}
.instant-section .e-learn .phne:before {
  content: "";
  position: absolute;
  background: url(../../../img/solution-1/iphonel-14.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  left: 0px;
  right: 9px;
  top: 20px;
  width: 36%;
  height: 100%;
  z-index: 1;
  margin-right: 0px;
  z-index: 9;
}
.instant-section .e-learn .phne:after {
  content: "";
  position: absolute;
  background-color: #f8f9fa;
  width: 13px;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
  margin-right: 0px;
}
.instant-section .e-learn:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
}
.instant-section .e-learn:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: #f8f9fa;
}
.instant-section .owl-carousel-3 .item .imges {
  height: 100%;
  margin: 0 12px !important;
  border-radius: 20px;
  width: 100%;
}
.instant-section .owl-carousel-3 .item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  opacity: 0.8;
}
.instant-section .owl-carousel-3 .owl-nav {
  display: none !important;
}

.management-section .heading {
  font-size: 40px;
  color: #139ed9;
  line-height: 1.2;
}
.management-section .cnts {
  font-size: 15px;
  color: #6c757d;
}
.management-section .card {
  position: relative;
  height: 400px;
  transition: all ease-in-out 0.5s;
  border: 2px dashed #139ed9 !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
}
.management-section .card:hover {
  border: 2px dashed #fff !important;
  transform: translateY(-5px);
  transition: all ease-in-out 0.5s;
  background-color: #139ed9;
  color: #fff !important;
}
.management-section .card:hover .cnts {
  color: #fff !important;
}
.management-section .card:hover .benefit-icn {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff !important;
}
.management-section .card:hover img {
  transform: scale(-1) rotate(180deg);
}
.management-section .card .card-body {
  z-index: 2;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.management-section .card .card-body .cnts {
  font-size: 15px;
  color: #6c757d;
}
.management-section .card .card-body .heads {
  font-size: 20px;
  font-weight: 600;
}
.management-section .card .card-body .benefit-icn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.management-section .card .card-body .benefit-icn img {
  transition: all 400ms ease-out 0s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.testimonials-section .heading {
  font-size: 40px;
  color: #139ed9;
  line-height: 1.2;
}
.testimonials-section .owl-nav {
  display: none !important;
}
.testimonials-section .author-name {
  color: #139ed9;
}
.testimonials-section .author-img img {
  border-radius: 50%;
}
.testimonials-section .card {
  background: #343a40;
  border-bottom: 4px solid #fff;
}
.testimonials-section .testimonial-content {
  box-shadow: 0px 0px 4px #a89f9f;
  border-left: 5px solid #ffffff;
}

.faq_section:before {
  content: "";
  background: url(../../../img/solution-1/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  transform: rotateY(180deg) rotateX(180deg);
  background-repeat: no-repeat;
}
.faq_section:after {
  content: "";
  background: url(../../../img/solution-1/footer-bg-3.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: top right;
  filter: brightness(0.5);
  z-index: 0;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  .instant-section .e-learn::before {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .instant-section .e-learn::before {
    width: 100%;
  }
}/*# sourceMappingURL=solution-1.css.map */