.top_banner {
  background: linear-gradient(90deg, #03151d 50%, rgba(3, 21, 29, 0.0096) 56%, rgba(3, 21, 29, 0.004) 76%), var(--bg);
  background-size: cover;
  background-position: 37% 0%;
}
.top_banner .top_banner-left-part img:nth-child(1) {
  filter: drop-shadow(2px 4px 6px #03151d);
}
.top_banner .top_banner-left-part img:nth-child(2) {
  filter: invert(1);
}

.achievements {
  background: var(--bg);
  background-size: cover;
}
.achievements .sparater-block {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  left: 30px;
  top: 0;
}
.achievements .sparater-block span {
  font-weight: 300;
  height: 48px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 48px;
  background: #020f14;
  position: absolute;
  top: 50%;
  left: -11px;
  margin-top: -32px;
}
.achievements .sparater-block span {
  left: -24px;
  width: 48px;
  border-radius: 100%;
  text-align: center;
}

.testimonials_page_section {
  background: #f5f6f8;
}
.testimonials_page_section::after {
  content: "";
  background: url(../../../img/testimonials/bg-img.webp);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  z-index: 0;
  height: 100%;
  width: 100%;
}
.testimonials_page_section .testimonials_revive_box {
  border-left: 8px solid rgba(11, 90, 123, 0.008);
  transition: 0.8s all;
}
.testimonials_page_section .testimonials_revive_box:hover {
  transform: translateY(-8px);
}
.testimonials_page_section .testimonials_revive_box::after {
  position: absolute;
  content: "";
  left: 20px;
  height: 40px;
  width: 44px;
  background: url(../../../img/testimonials/inverted-comma.webp);
  background-size: cover;
  filter: brightness(0.5);
  top: 30px;
  z-index: 0;
}
.testimonials_page_section .testimonials_revive_box > .description-box * {
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
}

@media (max-width: 1199.98px) {
  .top_banner .heading.left span {
    font-size: 26px;
  }
  .top_banner::after {
    background-size: 1300px;
  }
  .top_banner::before {
    background-size: 1300px;
  }
  .achievements .heading.right span {
    font-size: 26px;
  }
  .testimonials_page_section .heading.left span {
    font-size: 28px;
  }
  .testimonials_page_section::after {
    background-size: 1300px;
  }
  .testimonials_page_section::before {
    background-size: 1300px;
  }
}
@media (max-width: 991.98px) {
  .top_banner {
    background: linear-gradient(90deg, #03151d 50%, #03151d 100%, #03151d 100%), var(--bg);
    background-size: cover;
    background-position: 37% 0%;
  }
  .top_banner .heading.left {
    text-align: center;
    font-size: 12px;
  }
  .top_banner .heading.left::before {
    right: 0;
    margin: 0 auto;
  }
  .top_banner .heading.left::after {
    right: 0;
    margin: 0 auto;
  }
  .top_banner .heading.left span {
    font-size: 24px;
  }
  .top_banner::after {
    background-size: 1200px;
  }
  .top_banner::before {
    background-size: 1200px;
  }
  .achievements .heading.right {
    font-size: 12px;
  }
  .achievements .heading.right span {
    font-size: 23px;
  }
  .testimonials_page_section .heading.left {
    font-size: 12px;
  }
  .testimonials_page_section .heading.left span {
    font-size: 24px;
  }
  .testimonials_page_section::after {
    background-size: 1200px;
  }
  .testimonials_page_section::before {
    background-size: 1200px;
  }
}
@media (max-width: 767.98px) {
  .top_banner .heading.left span {
    font-size: 22px;
  }
  .top_banner::after {
    background-size: 900px;
  }
  .top_banner::before {
    background-size: 900px;
  }
  .achievements .heading.right {
    text-align: center;
  }
  .achievements .heading.right::before {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .achievements .heading.right::after {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .achievements .heading.right span {
    font-size: 20px;
  }
  .testimonials_page_section .heading.left span {
    font-size: 20px;
  }
  .testimonials_page_section::after {
    background-size: 900px;
  }
  .testimonials_page_section::before {
    background-size: 900px;
  }
}/*# sourceMappingURL=testimonials.css.map */