.login{width: 300px;padding:10px;left: 50%;margin-top:50px;margin-left: -160px;border: 10px solid #FFF;display: block;-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.1);box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.mrg{margin-top:25px; margin-bottom:10px;}
.pagination {margin: 2px 0;}
.pad{padding:5px 5px;}
.mrg-1{margin-top: 5px;}
.mrg-left{margin-left: 10px;}
.mrg-right{margin-right: 10px;}
.mrg-top{margin-top: 10px;}
.mrg-bottom{margin-bottom: 10px;}
.mrg-mail{margin-top: 55px;}
.asc{background: url('../img/sort_asc.png') no-repeat center right;cursor: pointer;display: block;}
.desc{background: url('../img/sort_desc.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a{color:#000;background: url('../img/sort_both.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a:hover{text-decoration: none;}
.error-message{color: #FF0000;}
.cust-supt{font-size: 45px;font-weight:900;font-family:"Times New Roman", Times, serif; color:#2166b1;margin-left:15px;margin-top:25px;}
.cust-head2{font-size: 18px;margin:15px 15px 15px 15px; font-weight:900;font-family:"Times New Roman", Times, serif; color:#545454;text-align: center;}
.cust-head2 a{color:#ff2626;}
.cust-list li{ line-height:35px; font-size:18px;font-weight:900;font-family:"Times New Roman", Times, serif; color:#7b7d70;}
.cust-list li a{color:#555555;}
.error-message{color: #FF0000;}
.dg-content{color: #666;font-size: 20px;line-height: 2.6em;text-align: justify;}
@media only screen and (min-width: 220px) and (max-width: 565px) {.dg-content{color: #666;font-size: 18px;line-height: 1.6em;text-align: justify;}}
.dg-icon.step-1{background-position: -5px 0;}
.dg-icon.step-2{background-position: -5px -240px;}
.dg-icon.step-3{background-position: -5px -480px;}
.dg-icon.step-4 {background-position: -5px -720px;}
.progress.active .progress-bar {-webkit-transition: none !important;transition: none !important;}
.exam-logo{margin-left:10px;margin-top: 10px;margin-bottom: 10px;}
.exam-photo{text-align:right;margin-top: 10px;margin-bottom: 10px;}
.exam-border{border-top: 4px solid #132035;margin-bottom: 5px;margin-top: 5px;margin-left: -15px;margin-right: -15px;}
.exam-heading{text-align: center;font-size:24px; font-weight: 500;}
.exam-logo{font-size: 26px;padding-top: 15px;}
@media only screen and (min-width: 520px) and (max-width: 570px) {.exam-logo{font-size: 18px;}}
@media only screen and (min-width: 470px) and (max-width: 519px) {.exam-logo{font-size: 16px;}}
@media only screen and (min-width: 420px) and (max-width: 469px) {.exam-logo{font-size: 14px;}}
@media only screen and (min-width: 220px) and (max-width: 419px) {.exam-logo{font-size: 12px;}}
.exam-panel{overflow-y: scroll;}
.input-sm-small{height: 30px;padding: 0px 0px;font-size: 12px;line-height: 1.5;border-radius: 0px;}
.dropdown-menu{left: auto;right: 0px;margin-top: 2px;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);background-color: #FFF;}
.max-column{max-width: 350px;}
#exam-loading{position: absolute;z-index:999;top: 150px;}
.my-result{background-color: #ffffff;}
.rtest_heading{font-family: Arial, Helvetica, sans-serif;font-size: 18px;color: #535352;margin:20px;}
.rank{color: #649130;font-size: 16pt;font-weight: bold;}
.rank_name{font-size: 12px;font-weight: bold;}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
}
.main-top-timer{float: right;z-index:1;margin-bottom: -50px;}
@media only screen and (min-width: 220px) and (max-width: 991px) {.main-top-timer{height: 100px;}}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {color: #ffffff;}
#msg_alert {position: fixed;top: 15px;left: 450px;opacity: 0.9;min-width: 40%;z-index: 9999999999;}
@media only screen and (min-width: 220px) and (max-width: 991px) {#msg_alert {top: 60px;left: 0px;min-width: 100%;}}
.main-content-exam{min-height: 585px;}
.global-logo{max-width:300px;max-height:200px;}
.front-dash-logo{max-width:200px;max-height:90px;}
.front-logo{max-width:100%;max-height:100%;position: relative;
left: -7px;}
.admin-dash-logo{max-width:200px;max-height:65px;}
.admin-dash-collapsed-logo{max-width:80px;max-height:45px;}







 .box-main {
    text-align: center;
    background-color: #000;transition: all 0.3s ease 0s;opacity: 0.80;
    border: 1px solid;margin: 9px;
    border-radius: 4px;height: 200px;
}

.text-lest{color:#fff;}
.table-responsive-home {
    
   
}


.text-maim  { text-align: justify;
padding: 10px;color:#fff!important;}

.title-small{ text-align: center;
position: relative;
top: 14px;
color: #f13f1f;}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
    padding: 10px!important;
    text-align: justify!important;
    padding: 10px;
}

.box-main:hover{background-color: #f7f7d0; border: 1px solid#f72e15;}

.box-main:hover {
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, 0.19);
    transition: .5s;
}
.box-services-b{background-color:#000;height: 250px;transition: all 0.3s ease 0s;opacity: 0.80;}

.box-services-c{background-color:#000;height: 250px;transition: all 0.3s ease 0s;opacity: 0.80; min-height: .01%;
overflow-x: auto;
overflow: scroll-x;
height: 250px;}

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
    top: 67px;
}

.main-cont{ width: 100%;
    position: relative;
    padding: 0;
    top: 40px;}


.header-transparent .menu > li > a {
    color: #000;
  }
  
  
  
  .cont-part{color: #fff;
     width: 100%;
     text-align: center;
     font-size: 22px;}
     
     .text-maim {
     color: #fff;
     width: 100%;
     text-align:left;font-size:13px; 
         
     }
     
     .copyright{ margin-top:10px;}
     
    .bro-part {position: relative;
top: 123px;
left: 41px;}
     
 .cont-lest {width:100%; margin-top:5px;}
.cont-lest ul{padding:0px; margin: 0px auto 0;text-align:left;}
.cont-lest ul li{display:inline;position: relative;
left: 58px;}
.cont-lest ul li a {text-decoration:none;text-transform: uppercase;
		 padding: 6px 10px;
		color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;font-size:14px;
		
   text-transform: uppercase;
		;}
.cont-lest ul li a:hover{color:#f8be0d;}
   

     .ovcer-part{ margin-left: 65px}
     
     .footer-bar {width:100%; margin-top: 42px;}
     .footer-bar ul{padding:0px; }
     .footer-bar ul li{display: block; margin-left: 57px;}
     .footer-bar ul li a {text-decoration:none;text-transform: uppercase;
		 padding: 6px 10px;
		color: #fff;
      font-family: "Open Sans",sans-serif;
     font-size: 13px;
    
    text-transform: uppercase;
		;}
 .footer-bar ul li a:hover{color:#f8be0d;}

 .Add-part{ color: #fff;
     width: 100%;
     text-align:left;font-size:13px;}

.top-header .top-menu ul {
    list-style: none;
}


 .gallery-main img { width:100%;margin: 8px;}   
 
 .jbox-container .jbox-close {
    top: 320px!important;
    right: 480px!important;
    height: 25px;
    width: 25px;
}
  
  
  @media (max-width: 767px) {
 .tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
    top: 1px;
}
 
 .header-transparent .menu > li > a {
    color: #fff;
  }
  
  
  .section {
    padding: 10px 0;
}

.footer-wrapper.footer-bg {
    background-image: url("../img/map.png");
    background-position: 48% 50%;
    background-color: #303236;
    background-repeat: no-repeat;
    text-align: center;width: 100%;

}

.xs-box2 {
    padding-bottom: 12px !important;
}
   
   
   
    .front-logo {
    
    position: relative;
    top: -0px;
} 


.footer-bar ul li {
    display: block;
    margin-left: 1px!important; 
    
}

.bro-part {
    position: relative;
    top: 12px;
    left: 1px;
}

.copyright {
    margin-top: 10px;
    position: relative;
    top: -22px;
}

.jbox-container .jbox-close {
    top: 128px !important;
    right: 14px !important;
    height: 25px;
    width: 25px;
}



.Add-part {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

 }
 
 
 
 
 
 
 
 
 
 
 .row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 100%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
 /* z-index: 1; */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
 
 